Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

Fix up merge conflicts and add back some consts.
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/core/az_json_pointer.c
  sdk/src/azure/core/az_json_token.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Cleanup included header files.
  sdk/src/azure/core/az_json_pointer.c
  sdk/src/azure/core/az_json_string.c
  sdk/src/azure/core/az_json_token.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove az_json_pointer and related az_json_string helpers.
  sdk/inc/azure/core/az_json.h
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_pointer.c
  sdk/src/azure/core/az_json_string.c
  sdk/src/azure/core/az_json_string_private.h
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add new line to parser file and disable unit testing.
  CMakeSettings.json
  sdk/src/azure/core/az_json_parser.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Fixup skip children depth check and add unit tests.
  sdk/src/azure/core/az_json_parser.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update paho twin sample and fixup uint8_t to char cast warning on OSX/Linux.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_json_token.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix up mismatch between docs and parameter names, and update local var name in iot hub sample.
  sdk/inc/azure/core/az_json.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make sure all the fields of az_json_token are set in tests, including internal ones.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix iot hub sample be saving reported property value in a temporary uint.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Switch to ports folder for the platform and http_adapter
  CMakeLists.txt
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/test/CMakeLists.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_noplatform.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Make an arbitrary change to readme to test the CI
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Intentionally introduce a compiler break to the keys_client_example sample to test the CI
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @vhvb1989

checkpoint
  cmake-modules/AddTestCMocka.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @jeffreyrichter, @joshfree, @danieljurek, @damirault, @azure/azure-sdk-eng

test2
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

test3
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

test more
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

Docs exclude recurisvely inside inc folder
  Doxyfile
Owners: @rickwinter, @jeffreyrichter, @joshfree

why
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

try
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

build cmocka lib manually to VCPKG
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

Windows static lib name
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

Apply suggestions from code review
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

format
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

typo
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

Run GenerateReleaseArtifacts job in CI
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add reference to replace-relative-links.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Enable generating artifacts, add replace-relative-links.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

build cMocka lib manually to VCPKG (#875)
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

add VSCode and CMake instructions (#870)
  .vscode/settings.json
  README.md
  sdk/docs/resources/vscode_cmake_config.png
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Update DPS example (#854)
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_sas_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Signature should accept a pointer to a constant char Update some broken links in the documentation
  sdk/docs/core/README.md
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove referencing of azure-sdk-tools (#865)
  eng/pipelines/doc-index.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

update version number
  sdk/docs/core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fetch available emojis from the GitHub API
  eng/scripts/Update-Emojis.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Replace only listed emojis
  eng/scripts/Update-Emojis.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

move verison up to dev.4 for testing
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add Update-Emojis.ps1 and pipeline syntax to update links and emojis
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/scripts/Update-Emojis.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Enable generating artifacts, add replace-relative-links.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add C to shipping languages
  eng/common/scripts/create-tags-and-git-release.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Remove ValidateSet
  eng/common/scripts/create-tags-and-git-release.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
