Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

update a bit of additional logging
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

support accessing a different key for the value of the Package
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

need to pass the setting through to the script
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
Owners: @Azure/azure-sdk-eng

Move functions to git-helpers and resolve review to approval script
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Add re-approval logic
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix up warnings/unused variables
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Add approval script details to sync workflow doc
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Formatting
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10004 (#3081)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10145 (#3078)
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman

Pipeline.Workspace
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman

Auto-generated docs from SHA(s) 81f6fe4916ffe6e3407e976ade7182bfc11d8d05
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

we cannot assume that there are always artifactdetails initially set. on js specifically artifactname isn't populated yet
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

pull across necessary changes to Artifact handling that MUST be made to enable go to actually match some packages during checks
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

need to include the aztemplate package by default if necessary
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

updatingpreteststeps
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman

Revert "Disable destructive release steps for testing. No release will take place."
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Use 1ES release deployments (#3079)
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Move functions to git-helpers and resolve review to approval script
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Formatting
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Add approval script details to sync workflow doc
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix up warnings/unused variables
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Add re-approval logic
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10134 (#3080)
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Update APIView Helpers
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update logging functions for github actions
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Add env var skip for matrix debug. Add acceptance test tag
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Add handling to stress deploy script to tell users when they lack TME group permissions
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

we need to ensure that this thing is an array
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

need to include the aztemplate package by default if necessary
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

updatingpreteststeps
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

we cannot assume that there are always artifactdetails initially set. on js specifically artifactname isn't populated yet
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

pull across necessary changes to Artifact handling that MUST be made to enable go to actually match some packages during checks
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Update logging functions for github actions (#3086)
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Update APIView Helpers (#3087)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10038 (#3084)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Fix error in APIView Helper
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng
