Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Storage
sdk/docs/storage/             @rickwinter @antkmsft
sdk/inc/azure/storage/        @rickwinter @antkmsft
sdk/samples/storage/          @rickwinter @antkmsft
sdk/src/azure/storage/        @rickwinter @antkmsft
sdk/tests/storage/            @rickwinter @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

add links to middleware | update TOC (#1938)
  README.md
Owners: @rickwinter

update verbage
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Utilize telemetry policy
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

pr-mod
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-stress-test-resources.ps1
  eng/common/scripts/stress-testing/test-resources-post.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

pr-mod
  eng/common/TestResources/deploy-stress-test-resources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

pr-mod
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-stress-test-resources.ps1
  eng/common/scripts/stress-testing/test-resources-post.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

PR-mod
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-stress-test-resources.ps1
  eng/common/scripts/stress-testing/test-resources-post.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Changing inline bash for stress test resource deployment
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-stress-test-resources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update codespace launch.json (#1896)
  .vscode-config/codespaces-launch.json
Owners: @rickwinter

Update sample for better output and messages
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Avoid 'defined, but not used' warning
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Avoid 'defined without declaration' warning
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Sync eng/common directory with azure-sdk-tools for PR 2053 (#1973)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update sample based on more feedback from Jeffrey
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Stress test usability feedback
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update link
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Undo unrelated change
  samples/README.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Readme update
  README.md
Owners: @rickwinter

Changelog
  CHANGELOG.md
Owners: @rickwinter

Late PR feedback follow-up
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/src/azure/core/az_http_policy.c
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Late PR feedback follow-up (#1975)
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/src/azure/core/az_http_policy.c
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Telemetry options constructor and component name size constraint
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update on constants, buffer size
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update unit tests
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Stress test usability feedback (#1974)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Build fix
  sdk/inc/azure/core/internal/az_http_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Remove unused variable when built without preconditions warning
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Inspect test failure on Linux
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

include
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Escape sequence
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add prompt before replasing latest release title on prepare release run
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

More debug prints
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Escape
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

INcrease headers buffer
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

add callout for json writer space needed (#1972)
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Undo debug stuff
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

By the time we attempt to read a value in tests, the buffer is dead
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Copy-paste error
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Telemetry options constructor and component name size constraint (#1976)
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add prompt before replasing latest release title on prepare release run (#1977)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
Owners: @danieljurek, @azure/azure-sdk-eng
