Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Fix error in APIView Helper (#3089)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add AdditionalParameters global variable to dynamic post script
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

update output strings
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

updated just this script. the actual windows start is still wrong but I'm saving progress rela quick
  eng/common/testproxy/test-proxy-standalone-tool.yml
Owners: @Azure/azure-sdk-eng

remove leading $Process
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

@" -> "@
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Apply suggestions from code review
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

correcting typos that copilot caught
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Add handling to stress deploy script to tell users when they lack TME group permissions (#3088)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10190 (#3090)
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Add AdditionalParameters global variable to dynamic post script (#3091)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) cccf7e3d1051e4e894cbd5206923958d3da0eed2
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Initialize azure sdk MCP conventions/automation
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp-runner.ps1
Owners: @Azure/azure-sdk-eng

Add example mcp server config
  eng/common/mcp/mcp-servers-example.json
Owners: @Azure/azure-sdk-eng

Add env var skip for matrix debug. Add acceptance test tag (#3092)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Ubuntu 20 -> 22 migration
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

a better solution is to climb up the directory path to find the relevant service directory. due to IRL commitments I can't do that solution right now. when I return on the 14th
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Allow eng/ based packages to parse ci.yml (#3095)
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Check path
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

remove lock scirpt
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Use tsp-client in emitter CI
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

include arg
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10241 (#3096)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add missing backticks
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add missing backticks (#3097)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Image names
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove clang-format-9
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/ci.test.yml
Owners: @danieljurek, @weshaggard, @benbp

Use azsdk-pool
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Try VS 2019 on Windows 2022 (probably will not work)
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Image names
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

windows-2022
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

windows-2022
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Plumbing for live templates
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Explicit OS image
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

pool name
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert Windows matrix entries
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert windows live test images
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert windows changes
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert windows image
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove clang-format-9 from cgmanifest.json
  cgmanifest.json
Owners: @rickwinter, @ronniegeraghty
