Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Fix issue where json reader was sometimes returning done wheb reading (#1115)
  sdk/src/azure/core/az_json_reader.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Uncomment blocked test for apppending partial JSON.
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/857 (#1081)
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Address PR feedback and update doc comment. Use new retval format.
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove unnecessary new lins in tests.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove unused internal method since it has no callers: (#1109)
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_request.c
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add ability to append existing JSON text value to the JSON writer, with runtime validation. (#1095)
  CHANGELOG.md
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_json.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Make sure to use ref_ for json writer parameter names, where appropriate.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Change mqtt message init
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/sample_pnp_mqtt_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make sure to use ref_ for json writer parameter names, where (#1120)
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

add iot hub supported properties
  sdk/inc/azure/iot/az_iot_hub_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add static
  sdk/inc/azure/iot/az_iot_hub_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/916
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

initial work
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update location and type
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update per comments
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update Readme and pnp sample directions (#1102)
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add IoT Hub supported properties (#1123)
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Updates per comments. clang-format.
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp_device_info_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix windows build
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

PnP Component Sample convert sample style (#1092)
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/samples/iot/sample_pnp_device_info_component.c
  sdk/samples/iot/sample_pnp_device_info_component.h
  sdk/samples/iot/sample_pnp_mqtt_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

move message properties to iot common
  sdk/docs/iot/README.md
  sdk/docs/iot/resources/iot_hub_flow.puml
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add to changelog
  CHANGELOG.md
Owners: @rickwinter, @joshfree

update macros
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

doc update
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  CHANGELOG.md
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename az_iot_hub_client_properties to az_iot_message_properties (#1124)
  CHANGELOG.md
  sdk/docs/iot/README.md
  sdk/docs/iot/resources/iot_hub_flow.puml
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix hub client ut
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix hub client ut (#1127)
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

sas renaming. MACRO updating.
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

use of inline vs MACRO
  sdk/samples/iot/iot_sample_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Rename one instance after merge
  sdk/src/azure/iot/az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove Client Secret Credential
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/internal/az_spinlock_internal.h
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_aad_private.h
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_credential_token.c
  sdk/src/azure/core/az_credential_token_private.h
  sdk/src/azure/core/az_spinlock.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/az_test_definitions.h
  sdk/tests/core/main.c
  sdk/tests/core/test_az_credential_client_secret.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

_az_auth_header_name
  sdk/src/azure/core/az_http_policy_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
