Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

remove secrets (#1870)
  sdk/samples/iot/aziot_esp32/readme.md
  sdk/samples/iot/aziot_esp8266/readme.md
  sdk/samples/iot/aziot_realtek_amebaD/readme.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Stip empty changelog sections before release
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

ensure test principal creation succeeds properly
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Stip empty changelog sections before release (#1879)
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Styling
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Bug fix: Storing .env file for bicep file at service dir
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

ensure test principal creation succeeds properly (#1880)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1943 (#1881)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Skip eng common workflow enforcer for private repos
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add random elements to default base name
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

tab
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix principal
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Skip eng common workflow enforcer for private repos (#1883)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1953 (#1884)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix compilation error C4576 with C++ and MSVC 2019 (19.28.29913)
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

clang-format
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Incorporate PR feedback
  README.md
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Create az_iot_provisioning_client_get_request_payload API (#1871)
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/iot/provisioning/main.c
  sdk/tests/iot/provisioning/test_az_iot_proviosining_client_payload.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.h
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Bring back pnp preview references
  CHANGELOG.md
Owners: @rickwinter

Final touches; more PRECONDITION & use payload generation API
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/src/azure/iot/az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/src/azure/iot/az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix links
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove vestigial az::iot::pnp document reference
  sdk/docs/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fixup the branding
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_pnp_component_sample.c
  sdk/samples/iot/paho_iot_pnp_sample.c
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make "Setup Versioning Properties" cancellable
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Support v0 versions as prerelease beta versions
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Critical changes for PnP GA (#1888)
  sdk/docs/iot/README.md
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_pnp_component_sample.c
  sdk/samples/iot/paho_iot_pnp_sample.c
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/src/azure/iot/az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make "Setup Versioning Properties" cancellable (#1889)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Support v0 versions as prerelease beta versions (#1890)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

create headers for cert creation section
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove other collapsed
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

spacing
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix section for numbering
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove section
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove unneeded whitespace
  README.md
Owners: @rickwinter

Clean merge issues
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update codespace launch
  .vscode-config/codespaces-launch.json
Owners: @rickwinter

align
  .vscode-config/codespaces-launch.json
Owners: @rickwinter

Merge feature/iot_pnp branch into main (#1891)
  CHANGELOG.md
  sdk/docs/iot/README.md
  sdk/inc/azure/az_iot.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/README.md
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_pnp_component_sample.c
  sdk/samples/iot/paho_iot_pnp_sample.c
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/paho_iot_pnp_sample_common.h
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_device_info_component.h
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_temperature_controller_component.c
  sdk/samples/iot/pnp/pnp_temperature_controller_component.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
  sdk/src/azure/iot/CMakeLists.txt
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_commands.c
  sdk/src/azure/iot/az_iot_hub_client_properties.c
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/hub/main.c
  sdk/tests/iot/hub/test_az_iot_hub_client.h
  sdk/tests/iot/hub/test_az_iot_hub_client_commands.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Cleanup pre-release
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno
