Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Update Provisioning samples (#1156)
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

initial work
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

typo
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update tests for when logging is turned off.
  sdk/tests/core/test_az_logging.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update link to point to cmake options.
  README.md
  sdk/docs/platform/README.md
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Consistent capitalization.
  sdk/docs/platform/README.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Go back to for-loop instead of while-loop.
  sdk/src/azure/core/az_log.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add another success test for logging.
  sdk/src/azure/core/az_log.c
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Move the validation to a precondition check.
  sdk/src/azure/core/az_log.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename test.
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update link to point to cmake options. (#1187)
  README.md
  sdk/docs/platform/README.md
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

create /doc and move Doxyfile into it
  doc/Doxyfile
Owners: @rickwinter, @joshfree

use throw instead of Writer-Error (#1183)
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 916
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Address PR feedback and put ifdef around validation method.
  sdk/inc/azure/core/az_log.h
  sdk/src/azure/core/az_log.c
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Apply rename across the tests.
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

Update enum values and add comments.
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add some more comments.
  sdk/src/azure/core/az_json_token.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

Sync eng/common directory with azure-sdk-tools repository for Tools PR 930
  eng/common/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

moving Doxyfile to /doc (#1179)
  CONTRIBUTING.md
  doc/Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

Update PnP Sample (#1173)
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

In progress
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix AV in logging when classification array isn't valid and add tests. (#1174)
  sdk/inc/azure/core/az_log.h
  sdk/src/azure/core/az_log.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update vscode config env var names
  .vscode-config/settings.json
Owners: @rickwinter, @joshfree

two more
  .vscode-config/settings.json
Owners: @rickwinter, @joshfree

Remove validating precondition in 'az_log_set_classifications'
  sdk/inc/azure/core/az_log.h
  sdk/src/azure/core/az_log.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 935 (#1177)
  eng/common/scripts/SemVer.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix a typo to trigger a new CI run.
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 916 (#1151)
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

update vscode config env var names (#1189)
  .vscode-config/settings.json
Owners: @rickwinter, @joshfree

Sync eng/common directory with azure-sdk-tools repository for Tools PR 930 (#1154)
  eng/common/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR 823
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Remove Client Secret Credential
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/internal/az_spinlock_internal.h
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_aad_private.h
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_credential_token.c
  sdk/src/azure/core/az_credential_token_private.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_spinlock.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/az_test_definitions.h
  sdk/tests/core/main.c
  sdk/tests/core/test_az_credential_client_secret.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix & tweak
  sdk/inc/azure/core/az_credentials.h
  sdk/tests/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Undo wrapping changes
  sdk/tests/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix wraps
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989
