Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jeffreyrichter, @antkmsft, @vhvb1989, @gilbertw, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jeffreyrichter @antkmsft

# Service teams
/sdk/core/      @vhvb1989 @antkmsft @gilbertw @jeffreyrichter
/sdk/keyvault/  @vhvb1989
/sdk/storage/   @gilbertw
/sdk/transport_policies/   @vhvb1989

###########
# Eng Sys
###########
/eng/       @danieljurek
/**/ci.yml  @danieljurek

Archive ustorageclient
  CMakeLists.txt
  sdk/storage/ustorageclient/.gitignore
  sdk/storage/ustorageclient/.vscode/settings.json
  sdk/storage/ustorageclient/CMakeLists.txt
  sdk/storage/ustorageclient/LICENSE
  sdk/storage/ustorageclient/README.md
  sdk/storage/ustorageclient/build_all/configs/ustorageclient_build_rules.cmake
  sdk/storage/ustorageclient/build_all/configs/ustorageclient_functions.cmake
  sdk/storage/ustorageclient/build_all/windows_c.cmd
  sdk/storage/ustorageclient/config/azstorage_storage_config.h
  sdk/storage/ustorageclient/inc/_internal/_azstorage_internal.h
  sdk/storage/ustorageclient/inc/azstorage_blob_api.h
  sdk/storage/ustorageclient/samples/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_append_bytes/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_append_bytes/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_append_bytes/main.c
  sdk/storage/ustorageclient/samples/blob_download_whole/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_download_whole/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_download_whole/main.c
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/main.c
  sdk/storage/ustorageclient/samples/common/inc/azstorage_helper.h
  sdk/storage/ustorageclient/samples/common/src/azstorage_helper.c
  sdk/storage/ustorageclient/src/azstorage_blob.c
  sdk/storage/ustorageclient/tests/CMakeLists.txt
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/CMakeLists.txt
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/azstorage_blob_ut.c
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/main.c
Owners: @gilbertw

Victor/curl/adding option to include curl (#356)
  CMakeLists.txt
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

Archive ustorageclient (=> archive/ustorageclient)
  .gitmodules
Owners: none

ustorageclient
  CMakeLists.txt
  sdk/storage/ustorageclient/.gitignore
  sdk/storage/ustorageclient/.vscode/settings.json
  sdk/storage/ustorageclient/CMakeLists.txt
  sdk/storage/ustorageclient/LICENSE
  sdk/storage/ustorageclient/README.md
  sdk/storage/ustorageclient/build_all/configs/ustorageclient_build_rules.cmake
  sdk/storage/ustorageclient/build_all/configs/ustorageclient_functions.cmake
  sdk/storage/ustorageclient/build_all/windows_c.cmd
  sdk/storage/ustorageclient/config/azstorage_storage_config.h
  sdk/storage/ustorageclient/inc/_internal/_azstorage_internal.h
  sdk/storage/ustorageclient/inc/azstorage_blob_api.h
  sdk/storage/ustorageclient/samples/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_append_bytes/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_append_bytes/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_append_bytes/main.c
  sdk/storage/ustorageclient/samples/blob_download_whole/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_download_whole/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_download_whole/main.c
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/CMakeLists.txt
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/config/blob_sample_config.h
  sdk/storage/ustorageclient/samples/blob_upload_block_bytes/main.c
  sdk/storage/ustorageclient/samples/common/inc/azstorage_helper.h
  sdk/storage/ustorageclient/samples/common/src/azstorage_helper.c
  sdk/storage/ustorageclient/src/azstorage_blob.c
  sdk/storage/ustorageclient/tests/CMakeLists.txt
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/CMakeLists.txt
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/azstorage_blob_ut.c
  sdk/storage/ustorageclient/tests/azstorage_blob_ut/main.c
Owners: @gilbertw

ustorageclient
  .gitmodules
Owners: none

Add the transport policy as a copy. (#360)
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter
