Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Set workingDirectory to tools root
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

revert formatting
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

formatting
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

use exact same install steps as tools repo
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11336 (#3173)
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Fixing git clone issues (no file content was changed but cloning brough some errors)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @Azure/azure-sdk-eng

Also update shell profile for linux
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only add to path if user manually approves via parameter
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Install azsdk cli to a place in PATH
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11333 (#3174)
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Append additional newline
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use /usr/bin/env instead of /bin/env
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Handle tool/directory copy better
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11353 (#3175)
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add parsing of issuedCertificateChain in dps registration response
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
Owners: @ewertons, @RLeclair, @vaavva

Auto-generated docs from SHA(s) 3852aab172efec68026e6d25bc11bb0b7db1222a
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Ignore failures when new package isn't indexed yet.
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

disable sparse checkout
  eng/common/scripts/git-branch-push.ps1
Owners: @Azure/azure-sdk-eng

Add fetch fallback
  eng/common/scripts/git-branch-push.ps1
Owners: @Azure/azure-sdk-eng

fixing git errors from cloning
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @Azure/azure-sdk-eng

Ignore failures when new package isn't indexed yet. (#3176)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

azure-sdk
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Use full checkout for regen stage
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

checkout branch
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

update both
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

origin
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

switch
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

remove fetchdepth
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Fetch branch
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11373 (#3177)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 727214b39b399aea91dfc0f3e2ddc75a1e34d8ca
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Make sure we print env vars for JSON ARM templates
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update README.md
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Removed broken link from README
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng
