Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Added test
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Used full pkg name for dev ops work item
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Owners: @Azure/azure-sdk-eng

Pass in package info file path
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Owners: @Azure/azure-sdk-eng

Used full pkg name in release work items
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Removed the condition check for Group
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Apply suggestion from @weshaggard
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Apply suggestion from @Copilot
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Fix link checks to npm for packages
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13281 (#3310)
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13076 (#3314)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Add #Requires statement to common.ps1 (#3313)
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

bump the targeted proxy version (#3311)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13100 (#3312)
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

Update trigger and PR settings in YAML pipeline
  eng/common/pipelines/ai-evals-tests.yml
Owners: @Azure/azure-sdk-eng

respond to comments
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Add script for tool description eval workflow
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Fix param casing
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Update default VCPKG commit string
  cmake-modules/AzureVcpkg.cmake
Owners: @rickwinter, @ronniegeraghty

Update vcpkg commit hash
  eng/vcpkg-commit.txt
Owners: @danieljurek, @weshaggard, @benbp

Update instructions as per review suggestions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

fixed the grammatical error
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fixed step number issues
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Add verify setup instruction in local SDK generation workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update copilot instructions to support both local and pipeline based SDK gen
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fix GroupId property access
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13218 (#3315)
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13304 (#3316)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fix GroupId property access (#3319)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13235 (#3317)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

Update trigger and PR settings in YAML pipeline (#3318)
  eng/common/pipelines/ai-evals-tests.yml
Owners: @Azure/azure-sdk-eng

Refactor API Review task conditions in YAML
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @Azure/azure-sdk-eng

Apply suggestion from @Copilot
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13325 (#3321)
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13307 (#3320)
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Add a step explicitly to verify setup
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instructions
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Add a step explicitly to verify setup (#3322)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
