Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Test http client
  sdk/samples/storage/blobs/src/blobs_client_sample.c
  sdk/tests/storage/blobs/CMakeLists.txt
  sdk/tests/storage/blobs/_az_test_http_client.c
  sdk/tests/storage/blobs/_az_test_http_client.h
Owners: @rickwinter, @antkmsft

Link with storage-blobs
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Linking
  eng/cmake/global_compile_options.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Add sample file
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

HTTP_TRANSPORT
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Defined, but not used
  sdk/samples/storage/blobs/src/empty.c
Owners: @rickwinter, @antkmsft

ISO C forbids empty translation unit
  sdk/samples/storage/blobs/src/empty.c
Owners: @rickwinter, @antkmsft

Try a workaround for Linux
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/empty.c
Owners: @rickwinter, @antkmsft

MD-MT
  eng/cmake/global_compile_options.txt
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @antkmsft

Rearrange a bit
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

single statement
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
Owners: @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Endif
  sdk/src/azure/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Linker option
  eng/cmake/global_compile_options.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/empty.c
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @antkmsft

-sample
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Narrow scope
  eng/cmake/global_compile_options.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Remove unused
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @antkmsft

Small changes
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @antkmsft

update links to point to atemp location
  sdk/samples/storage/blobs/README.md
Owners: @rickwinter, @antkmsft

Add unit test
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Check for succeeded
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Ptr type update
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Links
  sdk/docs/storage/README.md
  sdk/samples/storage/blobs/README.md
Owners: @rickwinter, @antkmsft

Cover apiversion, and host headers (will fail witout that). More realistic URL. Test should fail because Host header is not present.
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

undo rename
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_sample.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

undo rename
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_sample.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Remove duplicate verification
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Enable upload test
  sdk/tests/storage/blobs/main.c
Owners: @rickwinter, @antkmsft

Update after review
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_sample.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Download API
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

'<' => '>='
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @antkmsft

az_result_succeeded
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Realistic response
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

casting/warnings
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @antkmsft

Add blob download
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/storage/blobs/main.c
  sdk/tests/storage/blobs/test_az_storage_blobs.c
Owners: @rickwinter, @antkmsft

Host
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @antkmsft

Doxygen comment
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter, @antkmsft

Part of Jeffrey's feedback
  README.md
  sdk/samples/storage/blobs/src/blobs_client_sample.c
  sdk/samples/storage/blobs/test-resources.json
Owners: @rickwinter, @antkmsft

az_http_response_get_status_code()
  sdk/inc/azure/core/az_http.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add unit test
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update unit test
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Storage
sdk/docs/storage/             @rickwinter @antkmsft
sdk/inc/azure/storage/        @rickwinter @antkmsft
sdk/samples/storage/          @rickwinter @antkmsft
sdk/src/azure/storage/        @rickwinter @antkmsft
sdk/tests/storage/            @rickwinter @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
