Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Make platform functions to fail a precondition when az_noplatform is used
  sdk/docs/core/README.md
  sdk/docs/platform/README.md
  sdk/inc/azure/core/az_http_transport.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Unit test fix
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Unit test fix
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Mock implementation
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Mock implementation
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

parameter name omitted
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

parameter name omitted
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Enable the master link replacement feature for c (#1254)
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR 965 (#1211)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 973 (#1234)
  eng/common/scripts/update-docs-metadata.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Adding a const in the source, introducing a mismatch.
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Revert "Adding a const in the source, introducing a mismatch."
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add const to all const* arguments.
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_logging_private.h
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_log.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Making unnecessary local copies due to consts use.
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_http_policy_retry.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert "Making unnecessary local copies due to consts use."
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_http_policy_retry.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert changes to public header files.
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert changes to private headers.
  sdk/src/azure/core/az_http_policy_logging_private.h
  sdk/src/azure/core/az_json_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Build all for release to verify correctness.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Places where we have const* arguments in source, optionally mark the value as const as well.
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_log.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Updated approach to IOT_SAMPLIE_EXIT_IF_AZ_FAILED with logging
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update logging line
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update return function call
  sdk/samples/iot/iot_sample_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

adding cgmanifest
  cgmanifest.json
Owners: @rickwinter, @joshfree

missing new line
  cgmanifest.json
Owners: @rickwinter, @joshfree

use git for cgmanifest
  cgmanifest.json
Owners: @rickwinter, @joshfree

sync code cov cmake module
  cmake-modules/CodeCoverage.cmake
Owners: @rickwinter, @joshfree

az_iot_hub_client_twin_response_type enaumvaules rename to AZ_IOT_HUB_CLIENT_TWIN_RESPONSE_TYPE_XXXXX
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
