Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

store components
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/invoke-proxy.sh
Owners: @danieljurek, @azure/azure-sdk-eng

update call of the certificate check
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @azure/azure-sdk-eng

updates to eng common, moving proxy tools to location
  eng/common/scripts/common.ps1
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/invoke-proxy.sh
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @azure/azure-sdk-eng

consume new package location
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @danieljurek, @azure/azure-sdk-eng

move all files under eng/common
  eng/common/testproxy/apply-dev-cert.sh
  eng/common/testproxy/localhost.conf
Owners: @danieljurek, @azure/azure-sdk-eng

revert changes to install-pipeline-generation
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @danieljurek, @azure/azure-sdk-eng

add prepare stage. update readmes about moving location of the certificate. only necessary to add pre-step to container publish
  eng/common/scripts/trust-proxy-certificate.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1909 (#1868)
  eng/common/scripts/common.ps1
  eng/common/scripts/trust-proxy-certificate.ps1
  eng/common/testproxy/apply-dev-cert.sh
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/localhost.conf
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Enable API review approval check for Java spring packages (#1869)
  eng/common/scripts/Create-APIReview.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

remove secrets
  sdk/samples/iot/aziot_esp32/readme.md
  sdk/samples/iot/aziot_esp8266/readme.md
  sdk/samples/iot/aziot_realtek_amebaD/readme.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Cleanup comments & implementation closer to SDK conventions
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Removing C:\Git\azure-sdk-tools\eng\common\scripts\FilterPoliCheckResults.ps1 as it was no longer used
  eng/common/scripts/FilterPoliCheckResults.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Removing C:\Git\azure-sdk-tools\eng\common\scripts\FilterPoliCheckResults.ps1 as it was no longer used (#1872)
  eng/common/scripts/FilterPoliCheckResults.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add timeout and more logging
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Pass required -Resource
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Attempt to purge all vaults, managed HSMs
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Resolve PR feedback
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add -ErrorAction to Receive-Job
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use the Az cmdlets built-in -AsJob
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Change default DeleteAfterHours to 120
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @danieljurek, @azure/azure-sdk-eng

Use $using:r instead of creating ScriptBlock
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix log message
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Ensure the $Resource is correctly captured
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use PSModule-Helpers to install powershell-yaml
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Stress test deployment script resiliency fixes
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix query batch processing
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1912 (#1873)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Take PR feedback, part 1
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_proviosining_client_payload.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix query batch processing (#1875)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

update to use 1es guidance
  sdk/samples/iot/aziot_esp32/readme.md
  sdk/samples/iot/aziot_esp8266/readme.md
  sdk/samples/iot/aziot_realtek_amebaD/readme.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

BACKUP ONLY -- lots of wave PR2 feedback taken, but reviewers should hold on reviewing till I get more chance to review
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_proviosining_client_payload.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Use new common changelog update script
  eng/scripts/Update-SdkVersion.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Remove old unused update changelog script
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use new common changelog update script (#1876)
  eng/scripts/Update-SdkVersion.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Remove old unused update changelog script (#1877)
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

More PR feedback
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format run
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_proviosining_client_payload.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

More PR feedback
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

More doxygen cleanup
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools for PR 1918 (#1874)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng
