Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/870 (#1086)
  eng/common/scripts/Verify-Resource-Ref.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Address PR feeback, anotate local ptrs with const.
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove _az_span_scan_until and _az_predicate functionality. (#1041)
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Apply suggestions from code review
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

update arg name back to full name
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_request.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

remove az_span_replace
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Move ci.yml under sdk/ to match other repos and take advantage of CODEOWNERS emails (#1051)
  sdk/ci.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Url encoding on http (#1067)
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_http_policy.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Optimize for code size URL encoding and appending path to request.
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Apply similar improvements to set_q_param where profitable and fix test to allow partial writing to destination while encoding.
  sdk/src/azure/core/az_http_request.c
  sdk/tests/core/test_az_url_encode.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Comment updates and log formatting (apply to all samples so are uniform), clang-format
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/samples/iot/sample_pnp_device_info_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add ability to append existing JSON text value to the JSON writer, with validation.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove unnecessary checks that are unreachable and make value validation available outside of preconditions.
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update comment wording to avoid overloading 'value'
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix typo in comment.
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Optimize for code size URL encoding and appending path to request. (#1094)
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_url_encode.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Comment parameter name mismatch
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Update sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/_az_cfg.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Base 10
  sdk/inc/azure/core/az_span.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

A couple of `ref_`s
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

#589 & #906
  sdk/inc/azure/core/az_json.h
  sdk/tests/core/inc/az_test_span.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

#933
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Core and Storage docs formatting tweaks
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/_az_cfg_prefix.h
  sdk/inc/azure/core/_az_cfg_suffix.h
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_config.h
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/az_precondition.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/az_version.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

More PR feedback related changes
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/az_version.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Param name mismatch
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Final small fix
  sdk/inc/azure/core/az_context.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fixes
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Most of the PR feedback
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/_az_cfg_prefix.h
  sdk/inc/azure/core/_az_cfg_suffix.h
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_config.h
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/platform/az_nohttp.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

The rest of the feedback
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

More PR feedback
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Final small fix
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Disable SDK warnings for the release configurations.
  cmake-modules/AddTestCMocka.cmake
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/az_span.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Change all the CI matrix to use CMAKE_BUILD_TYPE=Release.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Fix the strict-aliasing issue in _az_isfinite.
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Change the script to use release config.
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Make sure to use locals within unit tests so release compilers don't complain.
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Disable SDK warnings for the release configurations.
  cmake-modules/AddTestCMocka.cmake
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/az_span.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Fix logging, fix infinite loop for errored reported properties
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

it has begun
  build/README.md
  build_all/README.md
Owners: @rickwinter, @joshfree

readme and doc update for pnp sammples
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno
