Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jeffreyrichter, @vhvb1989, @antkmsft, @gilbertw, @danieljurek

Merge Cmake file
  sdk/core/core/CMakeLists.txt
  sdk/core/core/src/az_http_pipeline.c.BASE.c
  sdk/core/core/src/az_http_pipeline.c.LOCAL.c
  sdk/core/core/src/az_http_pipeline.c.REMOTE.c
Owners: @vhvb1989, @antkmsft, @gilbertw

rename transport policies folder
  CMakeLists.txt
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/LICENSE
  sdk/transport_policies/curl/README.md
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @joshfree, @jeffreyrichter

Sync eng/common directory with azure-sdk-tools repository
  eng/common/InterdependencyGraph.html
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek

Add _az_cfg to culr.c to remove warning
  sdk/transportPolicies/curl/src/az_curl.c
Owners: @joshfree, @jeffreyrichter

Install the latest gcc in the mac build (#335)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/transportPolicies/curl/src/az_curl.c
Owners: @danieljurek, @joshfree, @jeffreyrichter

missing az_cfg for curl
  sdk/transport_policies/curl/src/az_curl.c
Owners: @joshfree, @jeffreyrichter

making URI inside clientes immutable (#332)
  CMakeLists.txt
  sdk/core/core/inc/az_http.h
  sdk/identity/identity/src/az_identity_client_secret_credential.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/LICENSE
  sdk/transport_policies/curl/README.md
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @joshfree, @jeffreyrichter

Removing the changes I didn't make
  sdk/core/core/inc/az_credential.h
Owners: @vhvb1989, @antkmsft, @gilbertw

Formatting
  sdk/core/core/CMakeLists.txt
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/internal/az_contract_internal.h
  sdk/core/core/internal/az_http_pipeline_internal.h
  sdk/core/core/src/az_http_request_builder.c
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_json_get.c
  sdk/core/core/src/az_json_parser.c
Owners: @vhvb1989, @antkmsft, @gilbertw

Undo
  sdk/core/core/internal/az_contract_internal.h
Owners: @vhvb1989, @antkmsft, @gilbertw

Revert
  sdk/core/core/inc/az_http.h
Owners: @vhvb1989, @antkmsft, @gilbertw

Const
  sdk/core/core/src/az_json_data.c
Owners: @vhvb1989, @antkmsft, @gilbertw

Build succeeded
  sdk/core/core/internal/az_pal_clock_internal.h
Owners: @vhvb1989, @antkmsft, @gilbertw

Build succeeded
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/internal/az_credentials_internal.h
  sdk/core/core/internal/az_http_pipeline_internal.h
  sdk/core/core/internal/az_pal_clock_internal.h
  sdk/core/core/internal/az_time_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_policy.c
  sdk/core/core/src/az_json_pointer.c
  sdk/core/core/src/az_log.c
  sdk/core/core/src/az_log_private.h
  sdk/core/core/test/main.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/keyvault/keyvault/test/client_key_poc.c
  sdk/keyvault/keyvault/test/main.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @joshfree, @jeffreyrichter

Rebase
  sdk/core/core/src/az_aad.c
Owners: @vhvb1989, @antkmsft, @gilbertw

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jeffreyrichter

# Service teams
/sdk/core/      @vhvb1989 @antkmsft @gilbertw
/sdk/keyvault/  @vhvb1989 @gilbertw
/sdk/storage/   @gilbertw
/sdk/tracing/   @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek
/**/ci.yml  @danieljurek
