Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Fix broken link
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Fix documentation of MAX_ISSUED_CERTIFICATE_CHAIN_SIZE
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @ewertons, @RLeclair, @vaavva

Add paho_iot_provisioning_csr_sample (#3238)
  eng/common/mcp/README.md
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/README.md
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @Azure/azure-sdk-eng, @ewertons, @RLeclair, @vaavva

Use write-output for matrix script to support upstream callers
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Use write-output for matrix script to support upstream callers (#3248)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Bump @azure-tools/typespec-client-generator-cli (#3249)
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Owners: @Azure/azure-sdk-eng

Use new signature for FindArtifactForApiReviewFn
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Used new signature of FindArtifactForApiReviewFn
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Update create-apireview template to use packageInfo
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

Add LoginToGH script
  eng/common/scripts/LoginToGH.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12467 (#3250)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

update stress-test-deployment-lib.ps1 to account for empty $pkgs obj
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Update copilot instructions to support SDK generation before creating release plan
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12483 (#3251)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Apply suggestions from code review
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update copilot instructions to support SDK generation before creating release plan
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12501 (#3252)
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
Owners: @Azure/azure-sdk-eng

Reorder error and warning log line processing
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Allow forced creation when release plans already exist
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Increase cache timeout for build
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Owners: @Azure/azure-sdk-eng

Use vcpkg configuration from eng/common
  eng/pipelines/templates/steps/ci.livetest.yml
  eng/pipelines/templates/steps/ci.test.yml
Owners: @danieljurek, @weshaggard, @benbp

Move vcpkg baseline up
  cmake-modules/AzureVcpkg.cmake
  eng/vcpkg-commit.txt
  vcpkg.json
Owners: @rickwinter, @ronniegeraghty, @danieljurek, @weshaggard, @benbp

Change parameter type from void* to char* in callback
  sdk/src/azure/platform/az_curl.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Change return type of upload read callback to size_t
  sdk/src/azure/platform/az_curl.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Change return type to size_t for consistency
  sdk/src/azure/platform/az_curl.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Set-VcpkgWriteModeCache -- add token timeout param for cmake generate's that exceed 1 hour (this can happen in C++ API View)
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Owners: @Azure/azure-sdk-eng

Use vcpkg configuration from eng/common (#3255)
  cmake-modules/AzureVcpkg.cmake
  eng/pipelines/templates/steps/ci.livetest.yml
  eng/pipelines/templates/steps/ci.test.yml
  eng/vcpkg-commit.txt
  sdk/src/azure/platform/az_curl.c
  vcpkg.json
Owners: @rickwinter, @ronniegeraghty, @danieljurek, @weshaggard, @benbp, @antkmsft, @gearama, @LarryOsterman

Fix unhelpful error when no stress packages are found
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

prompt
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

Set-VcpkgWriteModeCache -- add token timeout param for cmake generate's that exceed 1 hour (this can happen in C++ API View) (#3257)
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Owners: @Azure/azure-sdk-eng

Fix error logging for command execution
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Clean up error handling in CommandInvocation-Helpers
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Change logging functions to use Write-Host
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Updated validate pkg template to use packageInfo
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Use join-path
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

removed debug code
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

return from the function rather than exit
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

output debug log
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Join paths of the script path
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Updated condition for variable setting step
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Owners: @Azure/azure-sdk-eng
