Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Updated instructions files for service label and CODEOWNERS validation
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Added suggested changes from previous PR
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Trim trailing whitespaces
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11905 (#3200)
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Source user ID from graph api in TME (#3201)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 583376aebafac3c0f16ee7f2cf570deebad49930
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Add copilot instruction for package name properties in typespec config
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Removed get release plan link call
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Add a script to update pull request URL in release plan from SDK generation pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Add steps to create a comment in SDK pr about release plan
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Removed the logic to add comment
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Removed auth token
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update create release plan instructions and return
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Return Release Plan Details
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added routing step to choose workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added missing comma
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11974 (#3202)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Owners: @Azure/azure-sdk-eng

Update DPS api version to enable CSR support during private preview
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @ewertons, @RLeclair, @vaavva

Remove Win2019 test configuration from LiveTest
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Cleanup: Remove unused Windows pool variables
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove Windows 2019 unit tests configuration
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Update archetype-sdk-tests.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
