Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Remove the CI step to restore vcpkg from the cache to show git checkout <tag> failure.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

[Unblock clean CI] Remove the CI step to restore vcpkg from the cache and remove the analyze flag for MSVC (#1143)
  eng/cmake/global_compile_options.txt
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

provisioning sample update and refactor to match other samples
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915 (#1129)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

remove az_pair from iot properties
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Turn warnings as errors for doxygen and add missing docs. (#1133)
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove az_pair from iot properties (#1136)
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Enable logging warnings to a file and failing the docs generation.
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

add newline
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove bash and cmd iot scripts | replace with powershell
  sdk/samples/iot/README.md
  sdk/samples/iot/generate_certificate.cmd
  sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/generate_certificate.sh
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add another tab back
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update formatting
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update or
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update docs
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

typo
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

PR comments
  sdk/samples/iot/README.md
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update docs
  sdk/samples/iot/README.md
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

nit
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add useage warning
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update directions
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update typo
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

make write warning to pop
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add tab back
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Get all latest eng and CI changes up to master.
  eng/cmake/global_compile_options.txt
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/remove-test-resources.yml
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Replace bash and cmd cert gen files with powershell (#1024)
  sdk/samples/iot/README.md
  sdk/samples/iot/generate_certificate.cmd
  sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/generate_certificate.sh
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert the json settings for VS change
  CMakeSettings.json
Owners: @rickwinter, @joshfree

Fix formating that VS does
  CMakeSettings.json
Owners: @rickwinter, @joshfree

Updates: iot_sample_common, c2d sample, methods sample, telemetry sample (#1126)
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

right justify MACRO functions
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix log comments
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Artifact names can't have slashes
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Generate map files
  CMakeLists.txt
  cmake-modules/GenerateMapFiles.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove GenerateMapFiles.cmake, use straight-through syntax
  cmake-modules/GenerateMapFiles.cmake
Owners: @rickwinter, @joshfree

Only copy map files to staging directory if publishing map files
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Move PublishMapFiles to a matrix entry where samples are built
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Don't refer to GenerateMapFiles.cmake
  CMakeLists.txt
Owners: @rickwinter, @joshfree

Apply suggestions from code review
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Experiment with release build and size minimizing optimization
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
