Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) d4da23b758264861f532b06092f2079b4062ec2f
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Fixes to generate-config step
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

backtick
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Use eng working directory
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Migrate Windows pools/images
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Add APIView Automation Project in JS
  eng/common/scripts/apiview-automation-client/.env.production
  eng/common/scripts/apiview-automation-client/cmd/tsv.js
  eng/common/scripts/apiview-automation-client/package-lock.json
  eng/common/scripts/apiview-automation-client/package.json
  eng/common/scripts/apiview-automation-client/src/index.ts
  eng/common/scripts/apiview-automation-client/tsconfig.json
Owners: @Azure/azure-sdk-eng

Exit early if no API changes are found
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

add path
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

add missing $
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Updates to emitter CI
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

tab, variables
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

variables, @self
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove image.yml variables
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Change variables formatting
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

-
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Move variables to stage
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 10293 (#3100)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Ubuntu 20 -> 22 migration (#3094)
  cgmanifest.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/ci.test.yml
  eng/pipelines/templates/variables/image.yml
Owners: @rickwinter, @ronniegeraghty, @danieljurek, @weshaggard, @benbp

open as draft logic and fix emitter version
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Update comment
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

add comment
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Move tsp-client step to regenerate stage
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10314 (#3102)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

disable prepare pipelines for net CI jobs
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

disable prepare pipelines for net CI jobs (#3103)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Exit early if no API changes are found (#3104)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

build: enable pushing emitter nuget packages
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) e03881fbac8ee329a7c29eee864ddb8c31b4d608
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

badly placed break means that multiple additionaltriggeringpaths won't work
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Fix additional TriggerPaths not being honored in Get-PrPkgProperties (#3105)
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

build: enable pushing emitter nuget packages (#3106)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync .github/workflows directory with azure-sdk-tools repository
  .github/workflows/post-apiview.yml
Owners: @Azure/azure-sdk-eng

Sync .github/workflows directory with azure-sdk-tools repository (#3107)
  .github/workflows/post-apiview.yml
Owners: @Azure/azure-sdk-eng

Update workflow sync pipeline
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @Azure/azure-sdk-eng

Remove exit code check as the list of files should be good enough
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10432 (#3108)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @Azure/azure-sdk-eng

remove explicit setting of IncludedForValidation to false. update target net repo reference. this will break a bunch of tests
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

treat packages added by triggerPath as direct
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

reduce some of the confusion on normalized paths
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

fix the issue with too much inclusion. update python scenario to reflect
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
