Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Part of the Eric's feedback
  CONTRIBUTING.md
  README.md
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Rest of the Eric's feedback
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

get_http_status_code() helper function (#1961)
  sdk/inc/azure/core/az_http.h
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Use az_http_response_get_status_code()
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Update sample's interaction with libcurl
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Make az_curl's dependency on libcurl public
  sdk/src/azure/platform/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add latest released version to prepare prerelease
  eng/common/scripts/Prepare-Release.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Make az_curl's dependency on libcurl public (#1962)
  sdk/src/azure/platform/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Fix warning on Linux
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add latest released version to prepare prerelease (#1963)
  eng/common/scripts/Prepare-Release.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Try fixing linker error on linux
  sdk/src/azure/core/az_http_policy.c
  sdk/src/azure/platform/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/platform/CMakeLists.txt
Owners: @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Remove en-us from link
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter, @antkmsft

Remove en-us from link
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Update end of line in the comment (#1959)
  sdk/inc/azure/core/az_credentials.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Remove the new sdk check and populate json for track 1 package
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update Save-Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Sync eng/common directory with azure-sdk-tools for PR 2152 (#1964)
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Try fixing linker error on linux
  sdk/src/azure/platform/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/gcc_fix.c
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/src/gcc_fix.c
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/src/gcc_fix.c
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/core.c
  sdk/samples/storage/blobs/src/exe.c
  sdk/samples/storage/blobs/src/gcc_fix.c
  sdk/samples/storage/blobs/src/http.c
  sdk/samples/storage/blobs/src/stg.c
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/src/core.c
  sdk/samples/storage/blobs/src/exe.c
  sdk/samples/storage/blobs/src/http.c
  sdk/samples/storage/blobs/src/stg.c
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
Owners: @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
Owners: @rickwinter, @antkmsft, @ahsonkhan, @vhvb1989, @gearama

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Storage
sdk/docs/storage/             @rickwinter @antkmsft
sdk/inc/azure/storage/        @rickwinter @antkmsft
sdk/samples/storage/          @rickwinter @antkmsft
sdk/src/azure/storage/        @rickwinter @antkmsft
sdk/tests/storage/            @rickwinter @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
