Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Fix double parenthesis in CSR sample script (#3268)
  sdk/samples/iot/README.md
Owners: @ewertons, @RLeclair, @vaavva

Auto-generated docs from SHA(s) 6b3992fdf8a03724b5b77dde8c9eef2a732b9520
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Return details
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

return message
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

print details
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

prompt revision
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

rename langs to languages + revise prompt
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

fix prompt
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

minor prompt and log edit
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

add venvPath argument
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

add tool instructions prompt
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

edit prompt and make checks concurrent
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

prompt revision and fallback to core requirements
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

minor
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

Configure cspell for upgrade
  .vscode/cspell.json
Owners: @rickwinter, @ronniegeraghty

Update config for new cspell baseline
  .vscode/cspell.json
Owners: @rickwinter, @ronniegeraghty

Only quote the needed
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Add pipeline support to Invoke-Cspell.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Quote parameters
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Upgrade cspell
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Owners: @Azure/azure-sdk-eng

Use stdin for cspell input
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12569 (#3272)
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Owners: @Azure/azure-sdk-eng

Update baseline for new cspell version (#3271)
  .vscode/cspell.json
Owners: @rickwinter, @ronniegeraghty

npm i
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

add trailing newline
  eng/common/spelling/package.json
Owners: @Azure/azure-sdk-eng

Use @azure-tools/cspell for spelling pin package name
  eng/common/spelling/package.json
Owners: @Azure/azure-sdk-eng

this
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

update bens suggestions
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

update
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

prompt
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

line
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

remove try to find pkg path logic
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

linting
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

path
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

list numbering incorrect
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

updates
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12531 (#3275)
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

prompt revision
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

minor prompt and log edit
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
