Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

Add missing doc strings
  sdk/core/core/inc/az_credentials.h
  sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/noplatform/inc/az_platform_impl.h
  sdk/platform/posix/inc/az_platform_impl.h
  sdk/platform/win32/inc/az_platform_impl.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Update CHANGELOG.md
  sdk/core/core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Update sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/http_client/nohttp/src/az_nohttp.c
Owners: @vhvb1989

Update sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/http_client/nohttp/src/az_nohttp.c
Owners: @vhvb1989

Update sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_credentials.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Update sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/http_client/nohttp/src/az_nohttp.c
Owners: @vhvb1989

Update sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_credentials.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository (#737)
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update the helpful links in the contributing guide.
  CONTRIBUTING.md
Owners: @gilbertw, @jeffreyrichter, @joshfree

TEST_FAIL_ON_ERROR => RETURN_IF_FAILED
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Return non-0 (1) when we find out that the sample was compiled with az_nohttp
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Small fixes (mostly naming) from another PR
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Return 255 on not implemented
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Result messaging
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

remove cmake linking. Use linking only for samples and tests. unit tests uses az_noplatform
  CMakeLists.txt
  sdk/core/core/CMakeLists.txt
  sdk/core/core/internal/az_platform_internal.h
  sdk/core/core/src/az_http_policy.c
  sdk/core/core/test/cmocka/CMakeLists.txt
  sdk/iot/common/tests/cmocka/CMakeLists.txt
  sdk/iot/hub/tests/cmocka/CMakeLists.txt
  sdk/iot/provisioning/tests/cmocka/CMakeLists.txt
  sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/noplatform/src/az_noplatform.c
  sdk/platform/posix/src/az_posix.c
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/samples/keyvault/keyvault/test/cmocka/CMakeLists.txt
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/test/cmocka/CMakeLists.txt
  sdk/storage/blobs/test/cmocka/az_storage_blobs_unit_tests.c
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Don't include _az_cfg.h in samples
  sdk/core/core/inc/az_span.h
  sdk/core/core/src/az_span.c
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Clang warning
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Clang & GCC warnings (they make it practically impossible to use perfectly valid C99 standardized `= { 0 }` syntax.
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

add documentation about graceful disconnect
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add comments to provisioning sample
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Apply suggestions from code review
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
Owners: @gilbertw, @jeffreyrichter, @joshfree

Add missing doc strings (#761)
  sdk/core/core/inc/az_credentials.h
  sdk/platform/http_client/nohttp/src/az_nohttp.c
  sdk/platform/noplatform/inc/az_platform_impl.h
  sdk/platform/posix/inc/az_platform_impl.h
  sdk/platform/win32/inc/az_platform_impl.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

add parenthesis on macro
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Logging: option to remove all logging code (#707)
  CMakeLists.txt
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/core/CMakeLists.txt
  sdk/core/core/README.md
  sdk/core/core/inc/az_log.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/internal/az_log_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_http_policy_logging.c
  sdk/core/core/src/az_http_policy_retry.c
  sdk/core/core/src/az_log.c
  sdk/core/core/test/cmocka/test_az_logging.c
  sdk/core/core/test/inc/az_test_log.h
  sdk/core/core/test/inc/az_test_precondition.h
  sdk/core/core/test/inc/az_test_span.h
  sdk/iot/common/src/az_iot_common.c
  sdk/iot/common/tests/cmocka/test_az_iot_common.c
  sdk/iot/hub/src/az_iot_hub_client_c2d.c
  sdk/iot/hub/src/az_iot_hub_client_methods.c
  sdk/iot/hub/src/az_iot_hub_client_sas.c
  sdk/iot/hub/src/az_iot_hub_client_twin.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_c2d.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_methods.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_sas.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_twin.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/src/az_iot_provisioning_client_sas.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_parser.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_sas.c
  sdk/samples/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @gilbertw, @jeffreyrichter, @joshfree, @danieljurek, @damirault, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Samples: remove internal headers (#757)
  sdk/core/core/inc/az_span.h
  sdk/core/core/src/az_span.c
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

using add_compiler_definitions
  CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

remove az_platform_impl header
  sdk/core/core/CMakeLists.txt
  sdk/platform/noplatform/inc/az_platform_impl.h
  sdk/platform/posix/inc/az_platform_impl.h
  sdk/platform/win32/inc/az_platform_impl.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

update to use add_compile_definitions
  CMakeLists.txt
Owners: @gilbertw, @jeffreyrichter, @joshfree

push AZ_NO_HTTP symbol if not implementation was provided
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

readme update for adding your own http stack
  README.md
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/storage/blobs/samples/CMakeLists.txt
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

fix link
  README.md
Owners: @gilbertw, @jeffreyrichter, @joshfree

update CMake
  CMakeLists.txt
Owners: @gilbertw, @jeffreyrichter, @joshfree

remove if guard
  sdk/platform/posix/CMakeLists.txt
  sdk/platform/win32/CMakeLists.txt
Owners: @antkmsft, @jeffreyrichter

link nothhp for core unit testsd
  sdk/core/core/test/cmocka/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

auto detect platform for samples
  sdk/iot/hub/samples/CMakeLists.txt
  sdk/iot/provisioning/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

remove non required header
  sdk/core/core/src/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

adding windows header for win32 pal
  sdk/platform/win32/src/az_win32.c
Owners: @antkmsft, @jeffreyrichter

add missing env var for CI to exclude samples building
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

add documentation about graceful disconnect (#764)
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

aa
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @gilbertw @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @gilbertw @jeffreyrichter @vhvb1989

# Samples
/samples/ @gilbertw @jeffreyrichter

# Service teams
/sdk/core/                  @ahsonkhan @antkmsft @gilbertw @jeffreyrichter @vhvb1989
/sdk/keyvault/              @vhvb1989
/sdk/platform/posix/        @antkmsft @jeffreyrichter
/sdk/platform/http_client/  @vhvb1989
/sdk/platform/win32/        @antkmsft @jeffreyrichter
/sdk/storage/               @gilbertw
/sdk/iot/                   @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
