Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Add preview 5 release date to the changelog.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Sync eng/common directory with azure-sdk-tools repository for Tools PR 973
  eng/common/scripts/update-docs-metadata.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add preview 5 release date to the changelog. (#1233)
  CHANGELOG.md
Owners: @rickwinter, @joshfree

revert set_topic function refector
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add parameters to function
  eng/scripts/Language-Settings.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Do not validate that the version contains beta, since C uses preview for the first release.
  eng/scripts/Update-SdkVersion.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Do not validate that the version contains beta, since C uses preview for (#1240)
  eng/scripts/Update-SdkVersion.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

first 7 samples updated
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pnp sample
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format, comment fixes, and comparison operator ordering
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Run clang-format on all .c and .h files in the repo.
  .clang-format
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/internal/az_retry_internal.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
  sdk/samples/iot/aziot_esp8266/iot_configs.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/platform/az_posix.c
  sdk/tests/iot/common/main.c
  sdk/tests/iot/provisioning/main.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update clang-format - alpha sort and only keep the differences.
  .clang-format
Owners: @rickwinter, @joshfree

Fix sorting.
  .clang-format
Owners: @rickwinter, @joshfree

pnp component sample
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

iot sample common update
  sdk/samples/iot/iot_sample_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pnp component sample helper files
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

builds
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Increment sdk version after release of C SDK (#1241)
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Only set VcpkgRef if we need it
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

vcpkg spelled more correctly
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Set needed environment variables
  eng/pipelines/templates/steps/vcpkg.yml
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

quotes
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Better dependency grouping
  eng/pipelines/templates/steps/vcpkg.yml
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use vcpkg cache correctly
  eng/pipelines/templates/steps/vcpkg.yml
  eng/scripts/vcpkg.ps1
  eng/vcpkg.ref.txt
Owners: @danieljurek, @azure/azure-sdk-eng

Run as a string
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Some more CI
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Clean up parameters
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

. -> -
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Rename vcpkg-ref.txt
  eng/vcpkg-ref.txt
Owners: @danieljurek, @azure/azure-sdk-eng

Update docs
  README.md
  eng/scripts/vcpkg.ps1
  eng/vcpkg.ref.txt
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

command syntax
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

update logging logic for IoT
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 979
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Some review feedback
  eng/pipelines/templates/steps/vcpkg.yml
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Upper case
  eng/scripts/vcpkg.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

OSVmImage is no longer necessary
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update docs to no longer mention vcpkg.yml, use vcpkg-ref.txt
  README.md
Owners: @rickwinter, @joshfree

Add parameters to function (#1239)
  eng/scripts/Language-Settings.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

update provisioning field name to registration state
  sdk/docs/iot/resources/iot_provisioning_flow.puml
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
