Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Fix path in mcp installer (#3162)
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Pass TestResourcesDirectory from deploy-test-resources.yml to New-TestResources.ps1 (#3164)
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 4b4b650de512c70afac08ed75aa35abcae64f226
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Disable SBom generation for pull requests
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

Update eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11039 (#3165)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

Remove MAC from pwsh tools template
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Remove MAC from pwsh tools template (#3166)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Add additional create matrix logging
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Add additional create matrix logging (#3167)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 0b557bfba8696b6960196e5c0287192f1a89264a
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Create APIView Script should obey UseDevVersion
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

Update script to download version inside of azsdk_Latest tag.
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

move logic to installation helper tool
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

rename to version for clarity
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Disable codeql for linter pipeline
  eng/common/pipelines/codeowners-linter.yml
Owners: @Azure/azure-sdk-eng

Disable codeql for linter pipeline (#3168)
  eng/common/pipelines/codeowners-linter.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) bd76a61de51858d2a26726842fe7a8c1c2864414
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Initial changes to support CSR requests in DPS registration
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @ewertons, @RLeclair, @vaavva

Add test for CSR request option
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
Owners: @ewertons, @RLeclair, @vaavva

Fix csr test
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
Owners: @ewertons, @RLeclair, @vaavva

Create `dependabot.yml` for GitHub Actions and VCPKG
  .github/dependabot.yml
Owners: @rickwinter, @ronniegeraghty

Create `dependabot.yml` for GitHub Actions and VCPKG (#3169)
  .github/dependabot.yml
Owners: @rickwinter, @ronniegeraghty

Update vcpkg.json
  vcpkg.json
Owners: @rickwinter, @ronniegeraghty

Auto-generated docs from SHA(s) 25baff4b5a9393e8720200e74e07e795d834dd85
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Add shell script for spell check
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Owners: @Azure/azure-sdk-eng

Always install .NET before running perf automation - May not be pre-installed on ubuntu-24
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Always install .NET before running perf automation - May not be pre-installed on ubuntu-24 (#3171)
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

existing dev cert expires 7/27. getting this in ahead of time
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @Azure/azure-sdk-eng

Updating `test-proxy` dev cert (#3172)
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @Azure/azure-sdk-eng

Integration tests against target version
  eng/common/mcp/test-azure-sdk-mcp.ps1
  eng/common/mcp/test-azure-sdk-mcp.yml
Owners: @Azure/azure-sdk-eng

update version to latest
  eng/common/mcp/target_version.txt
Owners: @Azure/azure-sdk-eng

Pinned target version
  eng/common/mcp/target_version.txt
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/mcp/README.md
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

readme
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Add shell script for spell check
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Owners: @Azure/azure-sdk-eng

Apply suggestion from @Copilot
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Add shebang and make cspell script executable for bash invocation
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Owners: @Azure/azure-sdk-eng

Fixing git staging errors
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @Azure/azure-sdk-eng

Install .NET from tools repo global.json
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
