Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jeffreyrichter, @antkmsft, @vhvb1989, @gilbertw, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jeffreyrichter @antkmsft

# Service teams
/sdk/core/      @vhvb1989 @antkmsft @gilbertw @jeffreyrichter
/sdk/keyvault/  @vhvb1989
/sdk/storage/   @gilbertw
/sdk/transport_policies/   @vhvb1989

###########
# Eng Sys
###########
/eng/       @danieljurek
/**/ci.yml  @danieljurek

Correct comment
  sdk/storage/blobs/samples/CMakeLists.txt
Owners: @gilbertw

Add samples into samples folders (#352)
  CMakeLists.txt
  sdk/core/core/samples/README.md
  sdk/keyvault/keyvault/CMakeLists.txt
  sdk/keyvault/keyvault/samples/CMakeLists.txt
  sdk/keyvault/keyvault/samples/README.md
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/CMakeLists.txt
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/samples/README.md
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Samples were referencing field values before assignment
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @gilbertw

Samples were referencing field values before assignment (#353)
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @gilbertw

fix issue in transport curl that is always returning AZ_OK even if curl fail
  sdk/core/core/inc/az_result.h
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/src/az_curl.c
  sdk/transport_policies/curl/test/az_test.h
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

vscode unit testing debug launcher config update
  .vscode/launch.json
Owners: none

minor typos in test
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989

Adding doxygen file label
  Doxyfile
  sdk/core/core/inc/_az_cfg.h
  sdk/core/core/inc/_az_cfg_prefix.h
  sdk/core/core/inc/_az_cfg_suffix.h
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_http_transport.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_optional_types.h
  sdk/core/core/inc/az_pal.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Use functions inside tests to reduce total used stack
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989

Victor/curl/test and fix for #318 (#354)
  .vscode/launch.json
  sdk/core/core/inc/az_result.h
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/src/az_curl.c
  sdk/transport_policies/curl/test/az_test.h
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Adding documentation doxygen file for core headers
  .gitignore
  Doxyfile
  README.md
  sdk/core/core/inc/_az_cfg.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

doxygen info to readme
  README.md
Owners: none

Adding doxygen file label (#355)
  .gitignore
  Doxyfile
  README.md
  sdk/core/core/inc/_az_cfg.h
  sdk/core/core/inc/_az_cfg_prefix.h
  sdk/core/core/inc/_az_cfg_suffix.h
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_http_transport.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_optional_types.h
  sdk/core/core/inc/az_pal.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

adding option to build transport curl
  CMakeLists.txt
Owners: none

adding pipeline with no samples (no curl dependency)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

vcpkg install depends on number of dependencies
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

bootstrap vcpkg on mac only if dependencies needs to be installed
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

Adding docs & inc
  sdk/iot/docs/dps_paho_sample.c
  sdk/iot/docs/iot_hub_flow.png
  sdk/iot/docs/iot_hub_flow.puml
  sdk/iot/docs/iot_paho_sample.c
  sdk/iot/docs/iot_provisioning_flow.png
  sdk/iot/docs/iot_provisioning_flow.puml
  sdk/iot/docs/iot_retry_flow.png
  sdk/iot/docs/iot_retry_flow.puml
  sdk/iot/docs/mqtt_state_machine.md
  sdk/iot/inc/az_iot_hub_c2d.h
  sdk/iot/inc/az_iot_hub_client.h
  sdk/iot/inc/az_iot_hub_methods.h
  sdk/iot/inc/az_iot_hub_sas.h
  sdk/iot/inc/az_iot_hub_telemetry.h
  sdk/iot/inc/az_iot_hub_twin_get.h
  sdk/iot/inc/az_iot_hub_twin_patch.h
  sdk/iot/inc/az_iot_mqtt.h
  sdk/iot/inc/az_iot_provisioning_client.h
  sdk/iot/inc/az_iot_provisioning_register.h
  sdk/iot/inc/az_iot_provisioning_sas.h
Owners: @joshfree, @jeffreyrichter, @antkmsft

Add the transport policy as a copy. Correct some verbs Adjust the upload callback after the refactor
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

MD file.
  sdk/iot/docs/iot_hub_flow.puml
  sdk/iot/docs/iot_hub_paho_sample.c
  sdk/iot/docs/iot_provisioning_flow.puml
  sdk/iot/docs/iot_provisioning_paho_sample.c
  sdk/iot/docs/mqtt_state_machine.md
Owners: @joshfree, @jeffreyrichter, @antkmsft

Updating flows.
  sdk/iot/docs/iot_hub_flow.png
  sdk/iot/docs/iot_hub_flow.puml
  sdk/iot/docs/iot_provisioning_flow.png
Owners: @joshfree, @jeffreyrichter, @antkmsft

add iot and mqtt facility codes
  sdk/core/core/inc/az_result.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Templated h files.
  sdk/iot/inc/az_iot_hub_c2d.h
  sdk/iot/inc/az_iot_hub_client.h
  sdk/iot/inc/az_iot_hub_methods.h
  sdk/iot/inc/az_iot_hub_sas.h
  sdk/iot/inc/az_iot_hub_telemetry.h
  sdk/iot/inc/az_iot_hub_twin_get.h
  sdk/iot/inc/az_iot_hub_twin_patch.h
  sdk/iot/inc/az_iot_provisioning_client.h
  sdk/iot/inc/az_iot_provisioning_register.h
  sdk/iot/inc/az_iot_provisioning_sas.h
Owners: @joshfree, @jeffreyrichter, @antkmsft

Adding include files.
  sdk/iot/inc/az_iot_hub_c2d.h
  sdk/iot/inc/az_iot_hub_client.h
  sdk/iot/inc/az_iot_hub_methods.h
  sdk/iot/inc/az_iot_hub_properties.h
  sdk/iot/inc/az_iot_hub_sas.h
  sdk/iot/inc/az_iot_hub_telemetry.h
  sdk/iot/inc/az_iot_mqtt.h
  sdk/iot/inc/az_iot_provisioning_client.h
  sdk/iot/inc/az_iot_provisioning_register.h
  sdk/iot/inc/az_iot_provisioning_sas.h
Owners: @joshfree, @jeffreyrichter, @antkmsft

Curl tests need to use the new transport initialization
  sdk/transport_policies/curl/test/main.c
Owners: @vhvb1989

Adding twin
  sdk/iot/inc/az_iot_hub_c2d.h
  sdk/iot/inc/az_iot_hub_methods.h
  sdk/iot/inc/az_iot_hub_telemetry.h
  sdk/iot/inc/az_iot_hub_twin.h
  sdk/iot/inc/az_iot_hub_twin_get.h
  sdk/iot/inc/az_iot_hub_twin_patch.h
  sdk/iot/inc/az_iot_mqtt.h
Owners: @joshfree, @jeffreyrichter, @antkmsft

switch values
  sdk/core/core/inc/az_result.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

CodeCoverage support with gcov and lcov
  CMakeLists.txt
  README.md
  cmake-modules/CodeCoverage.cmake
  sdk/core/core/CMakeLists.txt
  sdk/core/core/test/main.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

require env config for code cov
  CMakeLists.txt
  CMakeSettings.json
  sdk/core/core/CMakeLists.txt
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

update read me with env var info for code cov
  README.md
Owners: none

let code cov be GNU only
  sdk/core/core/CMakeLists.txt
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Sync eng/common directory with azure-sdk-tools repository
  eng/common/Extract-ReleaseNotes.ps1
Owners: @danieljurek

Cleanup the upload callback. Add extensive comments around the nuances of curl behavior
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989

Remove dead code
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @gilbertw

fix eng pipeline
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

fix typo
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

new typo fix
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

null empty deps instead of empty
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

use old empty string
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek

crazy typo
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek
