Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Don't reorder certain header includes.
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Context cleanups
  sdk/inc/azure/core/az_context.h
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove the statement about everything having an uber root
  sdk/inc/azure/core/az_context.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix test string being compared against.
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Rename az_failed and az_succeeded to az_result_failed and az_result_succeeded. (#1152)
  CHANGELOG.md
  sdk/docs/core/README.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Address PR feedback.
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update docs and changelog.
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/src/azure/core/az_http_response.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Add back the HTTP in fix to the name.
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_http.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Move HTTP_ADAPTER to 9 since we added a new error.
  sdk/inc/azure/core/az_result.h
  sdk/src/azure/core/az_http_policy_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add AZ_ERROR_HTTP_NO_MORE_HEADERS and update az_http_response_get_next_header to return it. (#1157)
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_logging.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Remove INLINE from the functions.
  sdk/inc/azure/core/az_context.h
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

pnp sample updates. not building yet
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

group pnp sample code
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_device_info_component.h
  sdk/samples/iot/pnp/pnp_mqtt_component.c
  sdk/samples/iot/pnp/pnp_mqtt_component.h
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_context.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

rename mqtt message files
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_device_info_component.h
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update guard
  sdk/samples/iot/pnp/pnp_mqtt_message.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Generate map files (#956)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Set to false
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

update include path
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Move pnp sample code into own folder (#1163)
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_device_info_component.h
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update iot end of property result
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add the actual result because somehow it was missing
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add the doxygen warning log to gitignore and remove --all when fetching.
  .gitignore
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

update iot end of property result (#1165)
  CHANGELOG.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Documentation improvements (#1140)
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter

az_iot_is_retriable_status
  sdk/docs/iot/mqtt_state_machine.md
  sdk/inc/azure/iot/az_iot_common.h
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

in progress
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

typo fix
  sdk/samples/iot/paho_iot_provisioning_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make AZ_RETURN_IF... internal.
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_http_policy.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_precondition.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rebase on top of the latest master
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make AZ_RETURN_IF... internal. (#1160)
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_http_policy.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_precondition.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update
  sdk/docs/iot/mqtt_state_machine.md
  sdk/docs/iot/resources/iot_retry_flow.puml
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Additional pre conditions
  sdk/inc/azure/core/az_context.h
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix some wording in docs
  sdk/inc/azure/core/az_context.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update all code paths that relied on az_span_ptr == NULL to differentiate between a null span and an empty span to use az_span_size == 0.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add test for twin_parse_received_topic with incomplete received_topic.
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update some doc comments.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/internal/az_span_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_context.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

builds
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989
