Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Review feedback: Write-Host -> #
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Owners: @Azure/azure-sdk-eng

Use gh auth to get token as first preference
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Apply suggestions from code review
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add erro handling for gh auth token
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

set default for token variable
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use authenticated GitHub request when env variable is present
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12267 (#3224)
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

expose package Type in Apiview URI
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Update Azure pipeline conditions to respect canceled status (#3227)
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Owners: @Azure/azure-sdk-eng

Revert "Use authenticated GitHub request when env variable is present (#12267)"
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Revert "Use authenticated GitHub request when env variable is present (#12267)" (#3228)
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add params for testing
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Error Handling and Email Notifications
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Resolve stash conflict
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Make DPS endpoint configurable with env var AZ_IOT_DPS_HOSTNAME
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
Owners: @ewertons, @RLeclair, @vaavva

Add paho_iot_provisioning_csr_sample
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Revert behavior change introduced in https://github.com/Azure/azure-sdk-tools/pull/12235
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Revert behavior change introduced in https://github.com/Azure/azure-sdk-tools/pull/12235 (#3229)
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 88dac71a716c133bc748da88e03f242f93e2a3d4
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Complete DPS/CSR sample
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

update to 0.29.0
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Owners: @Azure/azure-sdk-eng

Resolve stash conflict
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add params for testing
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Error Handling and Email Notifications
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12301 (#3226)
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11692 (#3231)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Pass packageInfo parameter conditionally to Find-Language-Artifacts-For-Apireview
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Use new parameter
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng
