Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

collapsable tab test
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: header guard does not follow preferred style [llvm-header-guard]
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: use of a signed integer operand with a binary bitwise operator [hicpp-signed-bitwise] - headers
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: pragma diagnostic pop could not pop, no matching push [clang-diagnostic-unknown-pragmas] - disable
  sdk/inc/azure/core/_az_cfg_suffix.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: macro argument should be enclosed in parentheses [bugprone-macro-parentheses]
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/az_span.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: use of a signed integer operand with a binary bitwise operator [hicpp-signed-bitwise] - header - 2
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/inc/azure/core/internal/az_retry_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: 10 is a magic number; consider replacing it with a named constant [cppcoreguidelines-avoid-magic-numbers] - header
  sdk/inc/azure/core/internal/az_http_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix warning C4312: 'type cast': conversion from 'unsigned int' to 'uint8_t *' of greater size.
  sdk/inc/azure/core/internal/az_precondition_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: do not use 'else' after 'return'/'break' [readability-else-after-return]
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: statement should be inside braces [google-readability-braces-around-statements]
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_json_reader.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: Value stored to 'url_remainder' is never read [clang-analyzer-deadcode.DeadStores]
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: 0x20 is a magic number; consider replacing it with a named constant [cppcoreguidelines-avoid-magic-numbers] [readability-magic-numbers]
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno
