Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Attempt to use C23 on MAC
  eng/cmake/global_compile_options.cmake
Owners: @danieljurek, @weshaggard, @benbp

Fix incompatible function pointer type
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ewertons, @RLeclair, @vaavva

Unused param
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @ewertons, @RLeclair, @vaavva

Fix test sigs
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
Owners: @ewertons, @RLeclair, @vaavva

Fix test sigs
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_commands.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
Owners: @ewertons, @RLeclair, @vaavva

Update sigs
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @ewertons, @RLeclair, @vaavva

Fix clang format
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/vxworks/azureClientSample.c
  sdk/samples/iot/vxworks/azureProvisioningClientSample.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_policy.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_commands.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva

More formating fixes
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/vxworks/azureClientSample.c
  sdk/samples/iot/vxworks/azureProvisioningClientSample.c
  sdk/src/azure/core/az_json_private.h
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_policy.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_commands.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva

Use clang-format version 9 for ci compat
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva

Fix strict-prototypes warning (#3070)
  eng/cmake/global_compile_options.cmake
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/vxworks/azureProvisioningClientSample.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_commands.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_properties.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_register_get_request_payload.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @danieljurek, @weshaggard, @benbp, @ewertons, @RLeclair, @vaavva

clean up the debugging output
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

todo: make the continue in param handler optional
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Support $IMPORT only. Fix parameter type mismatch with null matrix on IMPORT
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

swap over fully to structured result
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

FORCE instead of letting undefined get stripped off the front of the tuple
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10081 (#3071)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Package Properties processing updates
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Removed obsolete specc-gen-sdk pipeline template
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Owners: @Azure/azure-sdk-eng

Package Properties processing updates (#3073)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Removed obsolete specc-gen-sdk pipeline template (#3074)
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Owners: @Azure/azure-sdk-eng

Update APIVBiew comment header and add state to search api call
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Update script to use source and head commish
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Fetch URI to APIView comment
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add logic for seting APIView Pull Request comment
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Pass APIView host as a parameter
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Make API Change Check a header
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 765a37318b0748d099dcf51179a58b7885aa3a33
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

identify and fix the issue with no results on a matrix that is PRBatched. The platform filters eliminate all the jobs, which is why it only turned up on the second windows leg
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

&& -> -and
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10129 (#3075)
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script (#3072)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Import Az powershell module in self contained post script task
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Import Az powershell module in self contained post script task (#3077)
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Use 1ES release deployments
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Use image.yml where applicable
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Artifacts
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Disable destructive release steps for testing. No release will take place.
  eng/pipelines/templates/stages/archetype-c-release.yml
Owners: @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
