Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

clang-format
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update changelog with IoT Plug and Play
  CHANGELOG.md
Owners: @rickwinter

Update changelog with IoT Plug and Play
  CHANGELOG.md
Owners: @rickwinter

Cleanup IoT Plug and Play pre-release (#1897)
  CHANGELOG.md
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_pnp_sample_common.c
  sdk/samples/iot/paho_iot_pnp_with_provisioning_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
Owners: @rickwinter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update changelog to release 1.2.0 with IoT Plug and Play
  CHANGELOG.md
Owners: @rickwinter

Increment to 1.2.0
  cmake-modules/AddAzureSDKforC.cmake
Owners: @rickwinter

Update az_version.h
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add the new feature heading in the CL.
  CHANGELOG.md
Owners: @rickwinter

Fixup formatting of CL content
  CHANGELOG.md
Owners: @rickwinter

Update uses of internal current depth field from Json Reader to use the public one.
  sdk/src/azure/iot/az_iot_hub_client_properties.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove link to feature/iot_pnp branch.
  CHANGELOG.md
Owners: @rickwinter

Update dependency types to linux
  cgmanifest.json
Owners: @rickwinter

Update dependency types to linux (#1902)
  cgmanifest.json
Owners: @rickwinter

Add Skip.SetTestPipelineVersion to allow overidiing of use of BuildID for test version
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Owners: @danieljurek, @azure/azure-sdk-eng

updating proxy to use latest version
  eng/common/testproxy/docker-start-proxy.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

updating proxy to use latest version (#1903)
  eng/common/testproxy/docker-start-proxy.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update uses of internal current depth field from Json Reader to use the (#1901)
  sdk/src/azure/iot/az_iot_hub_client_properties.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Convert cfgmanifest linux entries to matching format
  cgmanifest.json
Owners: @rickwinter

update gcc-arm-none-eabi
  cgmanifest.json
Owners: @rickwinter

Add Pool-URL and Key-URL
  cgmanifest.json
Owners: @rickwinter

az_json_writer_append_json_text did not take into account required space for commas
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Convert cfgmanifest linux entries to matching format (#1904)
  cgmanifest.json
Owners: @rickwinter

Update changelog to release 1.2.0 with IoT Plug and Play (#1899)
  CHANGELOG.md
  cmake-modules/AddAzureSDKforC.cmake
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Add Skip.SetTestPipelineVersion to allow overidiing of use of BuildID for test version (#1906)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Install az module if not installed in deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add unit test to make sure internal state of json writer is set correctly.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Sync eng/common directory with azure-sdk-tools repository
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Owners: @danieljurek, @azure/azure-sdk-eng

Update the changelog to include a recent bug fix by community member.
  CHANGELOG.md
Owners: @rickwinter

az_json_writer_append_json_text did not take into account required space for commas (#1905)
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add unit test to make sure internal state of json writer is set (#1907)
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update the changelog to include a recent bug fix by community member. (#1909)
  CHANGELOG.md
Owners: @rickwinter

Sync eng/common directory with azure-sdk-tools repository (#1908)
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Owners: @danieljurek, @azure/azure-sdk-eng

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fix up the changelog year
  CHANGELOG.md
Owners: @rickwinter

Fixup headings to confirm to new wording.
  CHANGELOG.md
Owners: @rickwinter

Fix up the changelog year for 1.2.0 to be 2021 instead of 2017 (#1914)
  CHANGELOG.md
Owners: @rickwinter

Increment sdk version after release of C SDK
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fix up version increment.
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Increment version for C SDK releases (#1915)
  CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Explicitly exit 0 so a failed inner command (like mvn) doesn't propagate up to a failure of the pipeline
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
