Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Add a void after the function to try to remove unused variable warning for release.
  sdk/tests/core/inc/az_test_precondition.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Use memcpy as a workaround for strict aliasing warning.
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix for strict aliasing compiler warning.
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Direction updates pnp
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add comma to json
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove tabs
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add linker warning workaround for the other iot samples.
  sdk/samples/iot/CMakeLists.txt
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

more json comment fixes
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix strict-aliasing issue in tests.
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Explicitly opt-out of the warning for unused return variable in tests, for GCC.
  sdk/tests/core/inc/az_test_precondition.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add comment fixes. Not yet building.
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_device_info_component.h
  sdk/samples/iot/sample_pnp_mqtt_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

()
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Use negation workaround for gcc in release.
  sdk/tests/core/inc/az_test_precondition.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Store the function result as a boolean to workaround the optimization issue.
  sdk/tests/core/inc/az_test_precondition.h
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add some more comments and a precondition check on size.
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove precondition check since the sizeof comparison was constant.
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix similar issue in tests.
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add linker warning workaround for the other iot samples.
  sdk/samples/iot/CMakeLists.txt
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Store the function result as a bool in the precondition test macro to workaround release build optimizations.
  sdk/tests/core/inc/az_test_precondition.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix the strict-aliasing issue in _az_isfinite. (#1099)
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Disable or fix all the SDK warnings for the release configurations. (#1097)
  cmake-modules/AddTestCMocka.cmake
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/az_span.c
  sdk/tests/core/inc/az_test_precondition.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

PR feedback and some tiny fixes
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_precondition.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/az_version.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Unsaved changes missed
  sdk/inc/azure/core/az_config.h
  sdk/inc/azure/core/az_credentials.h
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

succeeded() retval negation
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Core and Storage docs formatting tweaks (#1057)
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/_az_cfg_prefix.h
  sdk/inc/azure/core/_az_cfg_suffix.h
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_config.h
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/az_precondition.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/az_version.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/inc/az_test_span.h
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

Update CONTRIBUTING.md (#1106)
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/881
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Remove unused internal method since it has no callers: 'az_http_request_append_path'
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_request.c
  sdk/tests/core/test_az_http.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/903
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/903 (#1085)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add entry to changelog file.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Add tests for both valid and invalid scenarios.
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

builds
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/samples/iot/sample_pnp_device_info_component.c
  sdk/samples/iot/sample_pnp_device_info_component.h
  sdk/samples/iot/sample_pnp_mqtt_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix issue where json reader was sometimes returning done wheb reading partial or incomplete JSON text.
  sdk/src/azure/core/az_json_reader.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

MacOs build fix
  sdk/samples/iot/sample_pnp.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add some more test cases.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/868
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/881 (#1071)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/850 (#1077)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/remove-test-resources.yml
Owners: @danieljurek, @azure/azure-sdk-eng
