Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

revert MACRO naming and make globals static
  sdk/samples/iot/iot_sample_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Turn warnings as errors for doxygen and add missing docs.
  Doxyfile
Owners: @rickwinter, @joshfree

Sort-Object
  eng/docs/index/Generate-DocIndex.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

some progress
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/templates/matthews/styles/main.js
Owners: @danieljurek, @azure/azure-sdk-eng

Move versions UNDER the horizontal rule
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/templates/matthews/styles/main.js
Owners: @danieljurek, @azure/azure-sdk-eng

Use sdk/docs and remove extra loops in doc generation that assume the presence of packages within a service, slim down PowerShell script
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/assets/docfx.json
Owners: @danieljurek, @azure/azure-sdk-eng

$Dir -> $ServiceKey
  eng/docs/index/Generate-DocIndex.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Read project name from CMakeLists.txt project invocation
  eng/docs/index/Generate-DocIndex.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Try to log warnings to a file.
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update script and add comment to internal fields in json.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_json.h
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update doxygen version to 1.8.20 to get some recent bug fixes.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update the storage docs.
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Update the storage docs.
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Revert "Update the storage docs."
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Test CI failures when doxygen logs warnings.
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

Exit with error if the warning file exists.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add indentation.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Try different syntax for -f.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add the brackets.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Fix code review feedback
  CMakeSettings.json
  sdk/docs/storage/README.md
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter, @joshfree

Merge on one line and use test.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Change to batch scripting since this is for windows.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Change to powershell.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

More descriptive doxygen
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Add write-error text and update call to doxygen.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Remove the analyze flag for MSVC to get clean CI.
  eng/cmake/global_compile_options.txt
Owners: @danieljurek, @azure/azure-sdk-eng

Specify the whole path to doxygen in single quotes and use &.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Change the script to pwsh and write an error message.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Remove the CI step to restore vcpkg from the cache.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Fix remaining warnings.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Only fail if the file is not empty and clean up after and fix typo in a comment.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_result.h
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix typo in commment.
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR https://github.com/Azure/azure-sdk-tools/pull/926
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/link-replacement.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add some echos and diagnosing git commands.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add more diagnostic commands.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

sas telem and twin sample updates. corresponding updates in other sample files. update logging macro naming
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fetch the tags before checking them out.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Remove the analyze flag for MSVC to get clean CI.
  eng/cmake/global_compile_options.txt
Owners: @danieljurek, @azure/azure-sdk-eng

Remove extra echo and debug commands, add comments.
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @azure/azure-sdk-eng
