Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Fix error from [-Werror,-Wstrict-prototypes]
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_precondition.h
  sdk/inc/azure/iot/az_iot_adu_client.h
  sdk/inc/azure/iot/az_iot_hub_client.h
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva

Match function impl to definition
  sdk/src/azure/core/az_precondition.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Update test az_precondition_test_failed_fn signature
  sdk/tests/core/inc/az_test_precondition.h
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Add missing prototype fix for [-Werror,-Wstrict-prototypes]
  sdk/inc/azure/core/az_json.h
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 11968 (#3213)
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Fix more compilation issues related to [-Werror,-Wstrict-prototypes]
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @ewertons, @RLeclair, @vaavva

Specified mcp tool name explicitly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Specified the mcp tool names explicitly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Added goal and action to some steps properly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added back step to choose sdk generation approach
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Added routing step to choose workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added missing comma
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Use npm ci for installation
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Fixed format issue
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Removed script and added readme.md
  eng/common/tsp-client/Invoke-TspClient.ps1
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Update eng/common/tsp-client/README.md
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

pin tsp-client
  eng/common/tools/package-lock.json
  eng/common/tools/package.json
Owners: @Azure/azure-sdk-eng

Update eng/common/tsp-client/README.md
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Used npm i to improve per
  eng/common/tsp-client/Invoke-TspClient.ps1
Owners: @Azure/azure-sdk-eng

Added a script to wrap the call to tsp-client
  eng/common/tsp-client/Invoke-TspClient.ps1
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Owners: @Azure/azure-sdk-eng

Removed 'prefix' option approach from usage
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Added dependabot to readme
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Update eng/common/tsp-client/README.md
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11868 (#3214)
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12060 (#3216)
  eng/common/tsp-client/README.md
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Owners: @Azure/azure-sdk-eng

Fix error from [-Werror,-Wstrict-prototypes] (#3215)
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_precondition.h
  sdk/inc/azure/iot/az_iot_adu_client.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/src/azure/core/az_precondition.c
  sdk/tests/core/inc/az_test_precondition.h
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add params for testing
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng
