Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Update README.md
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11493 (#3178)
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Apply suggestion from @Copilot
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Add shebang and make cspell script executable for bash invocation
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Owners: @Azure/azure-sdk-eng

Apply suggestion from @benbp
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Add shell script for spell check
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Owners: @Azure/azure-sdk-eng

bump target version of the test-proxy
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

bump target version of the test-proxy (#3180)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Source user object id directly instead of with graph
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Make sure we print env vars for JSON ARM templates (#3181)
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Throw error if deprecated parameter -UserAuth is passed
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

change to .instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

remove uneeded headers
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

remove uneeded headers
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

fix
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

change to .instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

Source user object id directly instead of with graph (#3182)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Throw error if deprecated parameter -UserAuth is passed (#3186)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Update Create-APIReview.ps1
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

Use default credscan tool
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Use default credscan tool (#3187)
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Auto-generated docs from SHA(s) e090b3308baa0b6331ac729b326d6bcf36f491ea
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Update eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Update script to check active release plans using package name and pr merge status
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Fix spacing in the script
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add a new script to mark package as released from release pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11330 (#3179)
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 7511989d22f0c0f2bb9706f94df4451118dd9d87
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty
