Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Windows 2019 is EoL so removing it from test matrix (#3203)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Fix unused parameter warning in get_az_span function for macOS 15 builds (#3205)
  sdk/samples/iot/iot_sample_common.c
Owners: @ewertons, @RLeclair, @vaavva

Update eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Return Release Plan Details
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update create release plan instructions and return
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add more specific rules for release plan creation
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add custom instructions to fetch TypeSpec docs
  eng/common/instructions/azsdk-tools/typespec-docs.instructions.md
Owners: @Azure/azure-sdk-eng

Add custom instructions to fetch TypeSpec docs (#3206)
  eng/common/instructions/azsdk-tools/typespec-docs.instructions.md
Owners: @Azure/azure-sdk-eng

Make Prepare-Release.ps1 executable
  eng/common/scripts/Prepare-Release.ps1
Owners: @Azure/azure-sdk-eng

pin tsp-client
  eng/common/tools/package-lock.json
  eng/common/tools/package.json
Owners: @Azure/azure-sdk-eng

Make Prepare-Release.ps1 executable (#3207)
  eng/common/scripts/Prepare-Release.ps1
Owners: @Azure/azure-sdk-eng

bump the test-proxy version
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added goal and action to some steps properly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Specified mcp tool name explicitly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added missing comma
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Added back step to choose sdk generation approach
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Added routing step to choose workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) efd736d0446b45a5f4b9a2842c3ac4d68cf0b813
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Return Release Plan Details
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add more specific rules for release plan creation
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add Better instructions
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update create release plan instructions and return
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11931 (#3209)
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Add confirmation before sdk generation
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Add confirmation before sdk generation (#3210)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Add copilot instruction for package name properties in typespec config
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository (#3212)
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
