Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository (#1216)
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add script that validates all files in the repo contain ASCII-only bytes and no UTF-8 BOM. (#1199)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

PR #1194 follow up (#1203)
  CHANGELOG.md
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/internal/az_http_internal.h
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

AZ_ERROR_DEPENDENCY_NOT_PROVIDED (#1207)
  README.md
  sdk/docs/core/README.md
  sdk/docs/platform/README.md
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/platform/az_nohttp.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Use gcc-5 (#1209)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Review feedback
  cmake-modules/create_map_file.cmake
  sdk/tests/iot/hub/CMakeLists.txt
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update README.md with more specific details about az_nohttp
  README.md
Owners: @rickwinter, @joshfree

Update README.md
  README.md
Owners: @rickwinter, @joshfree

Give warning message that map files won't be generated
  cmake-modules/create_map_file.cmake
Owners: @rickwinter, @joshfree

Only create map files if cmake is 3.13 or greater (#1208)
  CMakeLists.txt
  cmake-modules/create_map_file.cmake
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename AZ_ERROR_INSUFFICIENT_SPAN_SIZE to be more generic: AZ_ERROR_NOT_ENOUGH_SPACE.
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update changelog.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Fix spacing/formatting.
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/samples/iot/iot_sample_common.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_span.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 969
  eng/common/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Update README.md with more specific details about az_nohttp. (#1219)
  README.md
Owners: @rickwinter, @joshfree

Add contents from a build directory.
  .gitignore
  build/CMakeCache.txt
Owners: @rickwinter, @joshfree

Use the -p option to avoid failing if the directory already exists.
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Remove the build directory from check-in.
  build/CMakeCache.txt
Owners: @rickwinter, @joshfree

Revert change to .gitignore.
  .gitignore
Owners: @rickwinter, @joshfree

Update .gitignore to exclude the VS default out directory.
  .gitignore
Owners: @rickwinter, @joshfree

Rename AZ_ERROR_INSUFFICIENT_SPAN_SIZE to be more generic: AZ_ERROR_NOT_ENOUGH_SPACE (#1221)
  CHANGELOG.md
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update doxygen from feedback (#1214)
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Move the out directory gitignore with the rest of the VS artifacts.
  .gitignore
Owners: @rickwinter, @joshfree

Avoid using !az_result_succeeded or failed, and instead use the appropriate function.
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Make the build pipeline that creates a directory more resilient if the build directory already exists. (#1223)
  .gitignore
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

Avoid using !az_result_succeeded or failed, and instead use the (#1224)
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_writer.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Udates per comments. Not all comments resolved yet.
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove unneeded macro
  sdk/samples/iot/pnp/pnp_protocol.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Small Dox correction: verbatim semver.org
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Capitalize HTTP in a comment
  sdk/inc/azure/core/az_http_transport.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 969 (#1218)
  eng/common/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Update the changelog for the preview5 release.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Address feedback, remove map file generation CI, changed internal to remove, and updating ARM support statement.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Reword iot hub client change and show how bug fix impacts public API.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Remove change to internal methods that don't substantially impact the customer from CL.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

add further info for device id encoding
  sdk/inc/azure/iot/az_iot_hub_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update changelog to include provisioning client breaking change.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Update the changelog for the preview5 release. (#1230)
  CHANGELOG.md
Owners: @rickwinter, @joshfree

fix json_reader param type
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno
