Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Eliminate one more instance of generate_map_file, Publish map files with preconditions OFF
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter

Parameterize build type
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Doc index generation (#1060)
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/assets/docfx.json
  eng/docs/index/templates/matthews/styles/main.js
Owners: @danieljurek, @azure/azure-sdk-eng

Sample Updates: SAS Telemetry and Twin; Logging (#1148)
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

comment updates
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove diff
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix build
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

handle_method_request in method sample (#1150)
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename az_failed and az_succeeded to az_result_failed and az_result_succeeded.
  sdk/docs/core/README.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add changelog entry.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Update changes based on merge from master.
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Keep the code coverage leg as debug.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Line ending fix.
  eng/pipelines/templates/steps/cmake-build.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Missed a couple of IoT samples.
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Don't use samples, there is no stdlib
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Use correct package name
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Revert "Tighten the inner loop"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Tighten the inner loop
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add Linux ARM compile to matrix
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

newline
  cmake-modules/gcc-arm-toolchain.cmake
Owners: @rickwinter, @joshfree

Use ARM toolchain cmake file
  cmake-modules/gcc-arm-toolchain.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

More ARM matrix entries
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Remove unncessary VCPKG_DEFAULT_TRIPLET in places where we aren't installing dependencies
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

update return value of az_iot_message_properties_next
  CHANGELOG.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Base changes on top of the latest IoT smaples from master. Try to move only the if-assignments that contain AZ_SPAN_NULL
  eng/cmake/global_compile_options.txt
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments
  sdk/inc/azure/iot/az_iot_common.h
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

redefinition
  sdk/inc/azure/core/internal/az_precondition_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add AZ_ERROR_HTTP_NO_MORE_HEADERS and update az_http_response_get_next_header to return it.
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

function naming
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

reluctant pr comments :)
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Provisioning SAS sample update
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Test
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @rickwinter

clang-format, typo fix.
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove __analysis_assume() from the case when we have precontions disabled. It should be failing, but it doesn't. And we're keeping the fix as minimalistic as possible
  sdk/inc/azure/core/internal/az_precondition_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add back include header that was unintentionally removed.
  sdk/samples/iot/sample_pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update logging test.
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update sdk/inc/azure/storage/az_storage_blobs.h
  sdk/inc/azure/storage/az_storage_blobs.h
Owners: @rickwinter

Reenable /analyze and fix all the warnings. (#1139)
  eng/cmake/global_compile_options.txt
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update changelog.
  CHANGELOG.md
Owners: @rickwinter, @joshfree

update return value of az_iot_message_properties_next (#1153)
  CHANGELOG.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
