Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Fixed an issue in pipeline
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Owners: @Azure/azure-sdk-eng

Fixed the right variable to use
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Fixed typo
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Fixed errors in expression evaluation
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 73470f1198c597be02a979d98c1d536a7e0ab05e
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

prompt revision
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

prompt revision and fallback to core requirements
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

add tool instructions prompt
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

minor
  eng/common/instructions/verify-setup.instructions.md
Owners: @Azure/azure-sdk-eng

Validate package names when adding to release plan
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12478 (#3254)
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Owners: @Azure/azure-sdk-eng

Reorder error and warning log line processing (#3253)
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

update scripts
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

update scripts (#3259)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Remove extraneous unconditional bicep invocation
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add feature branch name to git clone command
  sdk/samples/iot/README.md
Owners: @ewertons, @RLeclair, @vaavva

Add feature branch name to git clone command (#3261)
  sdk/samples/iot/README.md
Owners: @ewertons, @RLeclair, @vaavva

Remove extraneous unconditional bicep invocation (#3262)
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Clean up error handling in CommandInvocation-Helpers
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add option to skip exiting
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix error logging for command execution
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Change logging functions to use Write-Host
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Make SDK Release Steps common
  eng/common/instructions/copilot/sdk-release.instructions.md
Owners: @Azure/azure-sdk-eng

Only checkout PerfAutomation from azure-sdk-tools - Other files in azure-sdk-tools repo are unnecessary - Unnecessary checkout hurts perf and increases security footprint
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Add date & time when updating attestation status in work item
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12532 (#3263)
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Make SDK Release Steps common (#3265)
  eng/common/instructions/copilot/sdk-release.instructions.md
Owners: @Azure/azure-sdk-eng

Use stdin for cspell input
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @Azure/azure-sdk-eng

Upgrade cspell
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Owners: @Azure/azure-sdk-eng

Add date & time when updating attestation status in work item (#3266)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only checkout PerfAutomation from azure-sdk-tools - Other files in azure-sdk-tools repo are unnecessary - Unnecessary checkout hurts perf and increases security footprint (#3264)
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Validate package names when adding to release plan
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Use packageValidateName instead
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

bump used proxy version
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

update bens suggestions
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

prompt
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

this
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

line
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Owners: @Azure/azure-sdk-eng

bump used proxy version (#3267)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Fix double parenthesis in CSR sample script
  sdk/samples/iot/README.md
Owners: @ewertons, @RLeclair, @vaavva

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
