Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Use correct leading slash in common.ps1 repo root resolution
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Update vcpkg baseline
  cmake-modules/AzureVcpkg.cmake
  eng/vcpkg-commit.txt
  vcpkg.json
Owners: @rickwinter, @ronniegeraghty, @danieljurek, @weshaggard, @benbp

Switch back to prod endpoint
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Remove PR commenting variable
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

use staging url for testing
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10286 (#3140)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only convert to json if response content is of json type
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only convert to json if response content is of json type (#3142)
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use azsdk-pool and windows-2022 in eng/common docindex.yml
  eng/common/pipelines/templates/jobs/docindex.yml
Owners: @Azure/azure-sdk-eng

Update APIView Endpoint to use API COntrollers
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/mcp/README.md
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Fix broken link in azsdk mcp server readme
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10733 (#3143)
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Add common npm publishing template
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

update generation pipeline so that we don't generate CI pipelines anymore. go - pullrequest exists.
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 8bbdaa2489b5afd376e7d23440fb746c90575ea0
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Sync eng/common directory with azure-sdk-tools for PR 10736 (#3144)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Add common npm publishing template
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

Make sure we print env vars for JSON ARM templates
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update Event Processor to condition login
  .github/workflows/event-processor.yml
Owners: @Azure/azure-sdk-eng

Add common npm publishing template (#3145)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

Use CodeFile for pushing Python APIView
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update Event Processor to condition login (#3146)
  .github/workflows/event-processor.yml
Owners: @Azure/azure-sdk-eng

Specify run directory as repo root for mcp runner
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Update APIView Endpoint to use API COntrollers (#3147)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

fix checkout
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

fix checkout (#3148)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 77cd75e24a78457f236e5de966cbff21d7521e4c
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Use CodeFile for pushing Python APIView
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use CodeFile for pushing Python APIView (#3149)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/scripts/common.ps1
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Use correct leading slash in common.ps1 repo root resolution
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

minor fix?
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

adding missing parens to apiview-helpers (#3150)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Specify run directory as repo root for mcp runner (#3137)
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10694 (#3138)
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Update vcpkg baseline (#3139)
  cmake-modules/AzureVcpkg.cmake
  eng/vcpkg-commit.txt
  vcpkg.json
Owners: @rickwinter, @ronniegeraghty, @danieljurek, @weshaggard, @benbp

Auto-generated docs from SHA(s) a40df40e9f3e368783c7dcd5c4406083539e4cbb
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

disable java CI pipeline generation
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

disable java CI pipeline generation (#3151)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng
