Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

Use current directory when updating relative links
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

update version information
  sdk/docs/core/CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Revert "update version number"
  sdk/docs/core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Revert "Remove ValidateSet"
  eng/common/scripts/create-tags-and-git-release.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "move verison up to dev.4 for testing"
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Revert "Add C to shipping languages"
  eng/common/scripts/create-tags-and-git-release.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "update version information"
  sdk/docs/core/CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Use local emoji list for a repeatable build
  eng/scripts/Update-Emojis.ps1
  eng/scripts/emojis.json
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "Add reference to replace-relative-links.yml"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "Run GenerateReleaseArtifacts job in CI"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Docs exclude recurisvely inside inc folder
  Doxyfile
Owners: @rickwinter, @jeffreyrichter, @joshfree

Revert "Docs exclude recurisvely inside inc folder"
  Doxyfile
Owners: @rickwinter, @jeffreyrichter, @joshfree

Revert "move verison up to dev.4 for testing"
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Revert "update version information"
  sdk/docs/core/CHANGELOG.md
  sdk/inc/azure/core/az_version.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository
  eng/common/Extract-ReleaseNotes.ps1
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository (#869)
  eng/common/Extract-ReleaseNotes.ps1
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "build cMocka lib manually to VCPKG (#875)"
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

Intentionally introduce a compiler break to the key vault client.
  sdk/samples/keyvault/keyvault/src/az_keyvault_client.c
Owners: @vhvb1989

Revert "build cMocka lib manually to VCPKG (#875)" (#882)
  cmake-modules/AddTestCMocka.cmake
Owners: @rickwinter, @jeffreyrichter, @joshfree

update model id to new property
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

change to model-id
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

resolve merging
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update PnP model id property name (#884)
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add all permutations of number parsing and formatting APIs on span (atoi, u, d) with tests.
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove the KeyVault sample (#867)
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  sdk/samples/keyvault/keyvault/CMakeLists.txt
  sdk/samples/keyvault/keyvault/LICENSE
  sdk/samples/keyvault/keyvault/README.md
  sdk/samples/keyvault/keyvault/inc/az_keyvault.h
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/README.md
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/samples/keyvault/keyvault/samples/test-resources.json
  sdk/samples/keyvault/keyvault/src/az_keyvault_client.c
  sdk/samples/keyvault/keyvault/test/CMakeLists.txt
  sdk/samples/keyvault/keyvault/test/keyvault_unit_tests.c
  sdk/samples/keyvault/keyvault/test/main.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @vhvb1989

Update azure_iot_hub_telemetry.ino
  sdk/samples/iot/hub/esp8266nodemcu/azure_iot_hub_telemetry.ino
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add printf statemenets.
  CMakeSettings.json
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Fix linux and osx specific build errors and rename helper method.
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix linux and osx specific build errors.
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Make sure whitespace or invalid characters aren't allowed when parsing numbers.
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove optimization to exit early which required exact double comparison.
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

see if tests work on Windows
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

missing
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Switch to ports folder for the platform and http_adapter
  CMakeLists.txt
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_noplatform.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Add doc links Address feedback from Review
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/src/azure/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Switch to ports folder for the platform and http_adapter
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add ports folder for building platform
  CMakeLists.txt
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Fix OS specific compiler warnings, update format string, and fix tests.
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix typo, cast to double, and ignore float-equal warnings in tests.
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
