Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Remove az_pair
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_aad_private.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_private.h
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_pipeline.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Unneccessary comment
  sdk/inc/azure/core/az_http_transport.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update changelog
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Remove
  CHANGELOG.md
Owners: @rickwinter, @joshfree

Unnecessary include
  sdk/inc/azure/core/az_http_transport.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove Client Secret Credential (#1193)
  CHANGELOG.md
  sdk/inc/azure/core/_az_spinlock.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_platform.h
  sdk/inc/azure/core/internal/az_spinlock_internal.h
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_aad_private.h
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_credential_token.c
  sdk/src/azure/core/az_credential_token_private.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_spinlock.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/az_test_definitions.h
  sdk/tests/core/main.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Remove stdlib from SDK includes - curl.
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Isolate the single line change.
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Missed an accidental change.
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Some wording change
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Remove az pair (#1194)
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_private.h
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_pipeline.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

fix encoding for file
  sdk/src/azure/core/az_http_header_validation_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

fix encoding for file (#1196)
  sdk/src/azure/core/az_http_header_validation_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

add creation id and user id
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update all files in the repo to be ASCII only.
  script.sh
  sdk/docs/core/README.md
  sdk/inc/azure/core/az_http.h
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

Do not check-in the script.
  script.sh
Owners: @rickwinter, @joshfree

add creation id and user id (#1197)
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add script that validates all files in the repo contain ASCII-only bytes and no UTF-8 BOM.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update script to include all files in the repo.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  script.sh
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @joshfree

Fix some more instances.
  CMakeSettings.json
  README.md
Owners: @rickwinter, @joshfree

Update script and make sure it only runs once.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  script.sh
Owners: @danieljurek, @azure/azure-sdk-eng, @rickwinter, @joshfree

Sync eng/common directory with azure-sdk-tools repository for Tools PR 946
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

update sample readme
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update sample readme (#1202)
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 946 (#1200)
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Do not use a shared static scratch buffer for JSON token parsing. Instead use stack space. (#1181)
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update doxygen version to 1.8.20 to get some recent bug fixes. (#1135)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/tests/core/test_az_http.c
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

PR #1194 follow up
  CHANGELOG.md
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/internal/az_http_internal.h
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

update docs
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/pnp/pnp_protocol.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update provisioning
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Replace ==/!= AZ_OK with az_result_succeeded()/failed()
  sdk/docs/iot/README.md
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @rickwinter, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

clang format
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

AZ_ERROR_DEPENDENCY_NOT_PROVIDED
  sdk/docs/core/README.md
  sdk/docs/platform/README.md
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/platform/az_nohttp.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

)
  sdk/samples/iot/pnp/pnp_thermostat_component.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates. Not yet building.
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/pnp/pnp_device_info_component.c
  sdk/samples/iot/pnp/pnp_device_info_component.h
  sdk/samples/iot/pnp/pnp_mqtt_message.c
  sdk/samples/iot/pnp/pnp_mqtt_message.h
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_protocol.h
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/samples/iot/pnp/pnp_thermostat_component.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools repository for Tools PR 955
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 955 (#1204)
  eng/common/Update-Change-Log.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use Doxygen to generate XML for later consumption by moxygen
  doc/Doxyfile
Owners: @rickwinter, @joshfree

PowerShell configs
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

PowerShell@2
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng
