Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Run clang-tidy linter tool on the repo and fix all warnings (#1265)
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/_az_cfg_suffix.h
  sdk/inc/azure/core/az_log.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/inc/azure/core/internal/az_retry_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_hex_private.h
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Re-run clang format on the repo since recent merge from master.
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add script that validates all *.c and *.h files in the repo have been properly formatted according to .clang-format
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add missing success exit.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Align guides
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

List the changs from git status to seee which files need to be updated.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Skip untracked git file when doing git status.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add new incorrectly formatted file to repo, as test.
  main.c
Owners: @rickwinter, @joshfree

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert "Add new incorrectly formatted file to repo, as test."
  main.c
Owners: @rickwinter, @joshfree

Check-in the fixes to verify the validation step is green after.
  sdk/inc/azure/core/az_context.h
  sdk/samples/iot/aziot_esp8266/iot_configs.h
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/tests/iot/common/main.c
  sdk/tests/iot/provisioning/main.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Use the long form git command to be self-documenting.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Make the Linux_x64_with_unit_test CI leg more descriptive.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Echo success result to logs.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Revert "Check-in the fixes to verify the validation step is green after."
  sdk/inc/azure/core/az_context.h
  sdk/samples/iot/aziot_esp8266/iot_configs.h
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/tests/iot/common/main.c
  sdk/tests/iot/provisioning/main.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add linter in-fix.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Clean-up the .clang-format file and run clang-format on all .c and .h files in the repo. (#1243)
  .clang-format
  sdk/inc/azure/core/az_context.h
  sdk/samples/iot/aziot_esp8266/iot_configs.h
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/tests/iot/common/main.c
  sdk/tests/iot/provisioning/main.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Make the Linux_x64_with_unit_test CI leg more descriptive. (#1279)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Make Platform functions to return az_result (#1256)
  CHANGELOG.md
  README.md
  sdk/docs/core/README.md
  sdk/docs/platform/README.md
  sdk/inc/azure/core/az_http_transport.h
  sdk/inc/azure/core/az_platform.h
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989

az_platform_sleep_msec(): _az_PRECONDITION(milliseconds > 0)
  sdk/inc/azure/core/az_platform.h
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add script that validates all *.c and *.h files in the repo have been properly formatted according to .clang-format (#1278)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

update Cmake options old references from compiler options to cmake options
  CONTRIBUTING.md
  README.md
Owners: @rickwinter, @joshfree

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
