Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Update copilot instructions to support SDK generation before creating release plan
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Removed instruction about private preview api
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Add different language set for mgmt and dataplane
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fix typespec tool reference
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fix typespec tool reference (#3235)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12416 (#3236)
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @Azure/azure-sdk-eng

Add script/pipeline for manual cpex attestation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12396 (#3232)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Update sdk/samples/iot/README.md to include the CSR sample
  sdk/samples/iot/README.md
Owners: @ewertons, @RLeclair, @vaavva

Fix compilation warnings in paho_iot_provisioning_csr_sample
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Add missing compilation fix
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Include disambiguation for branch name using EmitterPackagePath (#3237)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add missing compilation fix
  sdk/samples/iot/iot_sample_common.c
Owners: @ewertons, @RLeclair, @vaavva

Add missing compilation fix
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Add missing compilation fix
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Use fopen_s for windows compilation
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Add script/pipeline for manual cpex attestation (#3239)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

ensure that apichangedetected properly resolves
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Owners: @Azure/azure-sdk-eng

update conditions in detect-api-changes.yml (#3240)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Owners: @Azure/azure-sdk-eng

Revise tsp-client usage instructions in README
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Update README.md to use brace expansion for variables
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Update README.md
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Fix (incorrect) warnings from msbuild
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva

Made script work for non-java
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @Azure/azure-sdk-eng

Added 'ArtifactsJson' parameter
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @Azure/azure-sdk-eng

Reduced duplicated parsing
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @Azure/azure-sdk-eng

Fixed type error
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 01a29edccbc9d8475edb9fb618771090d460a8a8
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Update azure-sdk-mcp.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Update az_http_request.c
  sdk/src/azure/core/az_http_request.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Update az_http_request.c
  sdk/src/azure/core/az_http_request.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Update az_http_request.c
  sdk/src/azure/core/az_http_request.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Update az_http_private.h
  sdk/src/azure/core/az_http_private.h
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Update azure-sdk-mcp.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Update az_http_request.c
  sdk/src/azure/core/az_http_request.c
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 12454 (#3241)
  eng/common/tsp-client/README.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 12410 (#3233)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @Azure/azure-sdk-eng

Fix one more msbuild warning
  sdk/samples/iot/paho_iot_provisioning_csr_sample.c
Owners: @ewertons, @RLeclair, @vaavva
