Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: use of a signed integer operand with a binary bitwise operator [hicpp-signed-bitwise] - source
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rickwinter, @joshfree

warning: potential uncovered code path; add a default label [hicpp-multiway-paths-covered]
  sdk/src/azure/core/az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: redundant cast to the same type [google-readability-casting]
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: #includes are not sorted properly [llvm-include-order]
  sdk/src/azure/platform/az_posix.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

update az_iot_hub_client_twin_response_type enum values (#1264)
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: statement should be inside braces [google-readability-braces-around-statements] - az_curl.c - 2
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

[clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling] memcpy and memset - disable
  sdk/src/azure/platform/az_curl.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

warning: variable 'result' is not initialized [cppcoreguidelines-init-variables]
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

main readme update
  sdk/samples/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

warning: either cast from 'long' to 'int64_t' (aka 'long long') is ineffective, or there is loss of precision before the conversion [bugprone-misplaced-widening-cast]
  sdk/src/azure/platform/az_posix.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

warning: integer literal has suffix 'u', which is not uppercase [hicpp-uppercase-literal-suffix]
  sdk/inc/azure/core/internal/az_span_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: 0x7FF0000000000000ULL is a magic number; consider replacing it with a named constant [cppcoreguidelines-avoid-magic-numbers]
  sdk/src/azure/core/az_hex_private.h
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

[clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling] - disble - memcpy - private header
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

warning: use of a signed integer operand with a binary bitwise operator [hicpp-signed-bitwise] - private header.
  sdk/src/azure/core/az_json_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Auto-format files modified in this PR.
  sdk/inc/azure/core/internal/az_retry_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Cast error az_result values back down to int32_t.
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

how to windows updates
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Explicitly cast unsigned int result from bit-shift back to int32_t, in az_retry_internal.h.
  sdk/inc/azure/core/internal/az_retry_internal.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

more updates
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update intros
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/build/CMakeCache.txt
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeSystem.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
  sdk/samples/iot/build/CMakeFiles/3.18.2/VCTargetsPath.txt
  sdk/samples/iot/build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
  sdk/samples/iot/build/CMakeFiles/cmake.check_cache
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

updates
  sdk/samples/iot/build/CMakeCache.txt
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CMakeSystem.cmake
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
  sdk/samples/iot/build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
  sdk/samples/iot/build/CMakeFiles/3.18.2/VCTargetsPath.txt
  sdk/samples/iot/build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
  sdk/samples/iot/build/CMakeFiles/cmake.check_cache
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

last section of windows linux how tos
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

adding licence for cmake modules
  CMakeLists.txt
  cmake-modules/CheckAndIncludeCodeCov.cmake
  cmake-modules/CodeCoverage.cmake
  cmake-modules/CreateCodeCoverageTargets.cmake
  cmake-modules/create_map_file.cmake
  cmake-modules/gcc-arm-toolchain.cmake
Owners: @rickwinter, @joshfree
