Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @jeffreyrichter, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

Update sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

typo fixes
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix AV in logging when classification array isn't valid and add tests.
  CMakeSettings.json
  sdk/inc/azure/core/az_log.h
  sdk/src/azure/core/az_log.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Revert cmakesettings json change.
  CMakeSettings.json
Owners: @rickwinter, @joshfree

comment updates and build fix
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rebase on top of latest master
  .clang-format
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/iot_sample_common.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/tests/core/inc/az_test_precondition.h
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Updates
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/samples/iot/iot_sample_common.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Bad merge
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

az_span_ptr
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Cast
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

The value we assign to can be NULL before we retrieve the value.
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Context cleanup (#1158)
  sdk/inc/azure/core/az_context.h
  sdk/src/azure/core/az_context.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Cleanup platform and http documentation. Make the distinction between platform and http clearer.
  README.md
  sdk/docs/platform/README.md
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 935
  eng/common/scripts/SemVer.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fixup some links
  sdk/docs/platform/README.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Add the doxygen warning log to gitignore and remove --all when fetching. (#1166)
  .gitignore
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

Cleanup platform and http documentation. Make the distinction betwee… (#1176)
  README.md
  sdk/docs/platform/README.md
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

update
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update
  sdk/docs/iot/mqtt_state_machine.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

doc update
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update change log
  CHANGELOG.md
Owners: @rickwinter, @joshfree

fix doxgen build break
  .gitignore
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

moving Doxyfile to eng
  eng/Doxyfile
Owners: @danieljurek, @azure/azure-sdk-eng

add error if powershell core isn't used
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Macro cleanup (#1162)
  .clang-format
  sdk/inc/azure/core/_az_cfg.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_precondition_internal.h
  sdk/inc/azure/core/internal/az_result_internal.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_reader.c
  sdk/tests/core/inc/az_test_precondition.h
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add error if powershell core isn't used (#1180)
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Do not use a shared static scratch buffer for JSON token parsing. Instead use stack space.
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_span_private.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

fixed PR issues
  CHANGELOG.md
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

use throw instead of Writer-Error
  sdk/samples/iot/generate_certificate.ps1
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

added more context to global_device_hostname
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update .gitignore
  .gitignore
Owners: @rickwinter, @joshfree

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rickwinter, @joshfree

pr review
  sdk/inc/azure/iot/az_iot_provisioning_client.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove unnecessary assert, to docouple sequence of test runs.
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update null to empty.
  sdk/tests/core/test_az_logging.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

comment fixes
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

IoT SDK review updates (#1178)
  CHANGELOG.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/docs/iot/resources/iot_retry_flow.puml
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Owners: @rickwinter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Samples
/samples/ @rickwinter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
