Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Storage
sdk/docs/storage/             @rickwinter @antkmsft
sdk/inc/azure/storage/        @rickwinter @antkmsft
sdk/samples/storage/          @rickwinter @antkmsft
sdk/src/azure/storage/        @rickwinter @antkmsft
sdk/tests/storage/            @rickwinter @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Experiment
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/core.c
  sdk/samples/storage/blobs/src/exe.c
  sdk/samples/storage/blobs/src/http.c
  sdk/samples/storage/blobs/src/stg.c
Owners: @rickwinter, @antkmsft

Fix forward declaration
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/src/blobs_client_sample.c
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Try fixing linker error on linux
  sdk/samples/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @antkmsft

Add define for default mqtt port in order to utilize preprocessor stringification
  sdk/inc/azure/iot/az_iot_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add support for the zephyr build system
  sdk/src/azure/platform/az_zephyr.c
  zephyr/CMakeLists.txt
  zephyr/Kconfig
  zephyr/module.yml
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Undo unneccessary changes
  eng/cmake/global_compile_options.txt
  samples/README.md
  sdk/docs/storage/README.md
  sdk/samples/iot/README.md
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/CMakeLists.txt
Owners: @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update component builder docs
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update component builder docs (#1966)
  sdk/inc/azure/iot/az_iot_hub_client_properties.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

rename the function
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add description
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Create an issue template
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 2177 (#1967)
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use docker to do package validation.
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

HTTP request telemetry improvements
  CHANGELOG.md
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Changelog improvements
  CHANGELOG.md
Owners: @rickwinter

Fix warning
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Correct braces
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Remove extra arg
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Use https for sparse checkout command
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Fix unit test, plus inline constant
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Use https for sparse checkout command (#1969)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update changelog
  CHANGELOG.md
Owners: @rickwinter

Update changelog
  CHANGELOG.md
Owners: @rickwinter

Use docker to do package validation. (#1971)
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

add callout for json writer space needed
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

code format
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

make mac os happy
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update changelog (#1970)
  CHANGELOG.md
Owners: @rickwinter

Empty Component Name triggers precondition failure
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

Use constants
  sdk/src/azure/core/az_http_policy.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @gearama

HTTP request telemetry improvements (#1968)
  CHANGELOG.md
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_policy.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama
