Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/** @rickwinter

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

Fix condition for generating weekly test pipelines
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Clean-up some noisy logging (#2983)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 9466 (#2984)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @Azure/azure-sdk-eng

Update GitHubEventProcessor version to 1.0.0-dev.20241206.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

Support Test Proxy logging error output into a different log file
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Support Test Proxy logging error output into a different log file (#2982)
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 27c7d5aafb72c91d316cb520bf3b9a231b525407
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

when in strict mode, the variable needs to be defined ahead of time
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

always check for installation at least once, but only once
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update GitHubEventProcessor version to 1.0.0-dev.20241206.2 (#2985)
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

bump proxy PR
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) a9c8e5b355910aca6e87e981700d5d79a2e58461
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

bump test proxy version to 20241209.1 (#2988)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 5ffab89227aaaa359de92470ab6ba02e38f1a616
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

when in strict mode, the variable needs to be defined ahead of time
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

move the short-circuiting of install to PSModule-Helpers
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

always check for installation at least once, but only once
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

remove whatif
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

avoid issue with higher strict mode usage of undeclared variables
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Owners: @Azure/azure-sdk-eng

$global -> $script
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Owners: @Azure/azure-sdk-eng

now take advantage of a local script variable that remembers which modules have been installed
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

just take ben's suggestion
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 9493 (#2987)
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use -Mail for test resources local user lookup to support TME
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 073a3fd0a0c014094c0c4bae611bb0b465c29acc
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

Use -Mail for test resources local user lookup to support TME
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Auto-select TME subscription based on user context
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Install dotnet for perf
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @Azure/azure-sdk-eng

Add common SDK generation pipeline
  eng/common/pipelines/templates/jobs/sdk-generation.yml
Owners: @Azure/azure-sdk-eng

Fix incorrect variable name
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Fix incorrect variable name (#2990)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 1a00c03b4604526d7e412fc074b0c755df4071fd
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

update to version with auto-shutdown present
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

update proxy to version with auto-shutdown present (#2991)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Update location for doxygen tool
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Update location for doxygen tool (#2992)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Add trivial comment to test sync propagation
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 1737c612d433baea916c02931a2373cb1459c49c
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter

ensure that we don't match azure-keyvault when processing azure-keyvault-keys
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Update Yaml Configuration
  eng/common/pipelines/templates/jobs/sdk-generation.yml
Owners: @Azure/azure-sdk-eng
