Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter

# SDK team
/sdk/ @rickwinter

# Samples
/samples/ @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Platform
sdk/src/azure/platform/       @ahsonkhan @antkmsft @rickwinter @vhvb1989 @gearama

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

Tab container
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Install dependencies
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Remove sudo
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Clean-up changelog scripts
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Clean-up changelog scripts (#1931)
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Handle assembly already loaded errors in deploy stress test script
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add dependency checks and installation links to deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add more description to docs of where the variable is consumed
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 2035 (#1934)
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use stress-test-resources file naming to avoid live test auto-discovery
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add common policheck steps
  eng/common/pipelines/templates/steps/policheck.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Add common policheck steps (#1936)
  eng/common/pipelines/templates/steps/policheck.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 2027 (#1932)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Use stress-test-resources file naming to avoid live test auto-discovery (#1935)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

add links to middleware | update TOC
  README.md
Owners: @rickwinter

Remove SAS requirement
  eng/common/pipelines/templates/steps/policheck.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Update eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Pass package name from calling pipeline to uniquely identify pull request review
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update log summary
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

make sample common buffers static
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

make sample common buffers static (#1942)
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Sync eng/common directory with azure-sdk-tools for PR 2046 (#1941)
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update docker-start-proxy.ps1
  eng/common/testproxy/docker-start-proxy.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update docker-start-proxy.ps1 (#1944)
  eng/common/testproxy/docker-start-proxy.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Handle multiple segments in service directory path
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng
