Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng

show VCPKG version in CI
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Automatically update vcpkg on non-mac systems
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add version output
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

git pull origin master
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

git status on linux images?
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

git reset --hard HEAD
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add support for non-contiguous buffers within JSON builder using a callback mechanism.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_private.h
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Don't set VCPKG_INSTALLATION_ROOT when it's already set
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Reword a comment.
  sdk/src/azure/core/az_json_builder.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Adding the callback method signature on the top of the test file to fix missing-declarations warning.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Automatically update vcpkg on non-mac systems (#901)
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add tests where allocator returns null or first destination is null.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Address feedback, add comments for overflow/underflow cases.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

[iot][acr] Fixes to Azure IoT Hub ESP8266 sample
  sdk/samples/iot/hub/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/hub/aziot_esp8266/iot_configs.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

[iot] Fixes to Azure IoT Hub ESP8266 sample (#899)
  sdk/docs/iot/README.md
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/hub/aziot_esp8266/generate_arduino_zip_library.sh
  sdk/samples/iot/hub/aziot_esp8266/how_to_esp8266_nodemcu.md
  sdk/samples/iot/hub/aziot_esp8266/iot_configs.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Refactor get_operation_status() of DPS sample (#883)
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix up the paho iot hub twin sample by adding a call to next_token.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update provisioning client parser to retain original logic for partial JSON (#897)
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Docs generation fix (#877)
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/docs/iot/README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree, @danieljurek, @damirault, @azure/azure-sdk-eng, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update pipelines
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update comments Add default configuration to VS builds
  CMakeSettings.json
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Remove old files Better error messages
  sdk/ports/_template/az_platform_impl.h
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add ports folder for building platform
  CMakeLists.txt
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

MacOS should use POSIX
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update comment
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Support building for specific platform implementations. The build will fail when a platform is required but not specified
  CMakeLists.txt
  CMakeSettings.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_win32.c
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @danieljurek, @damirault, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @vhvb1989

Address PR feedback.
  sdk/inc/azure/core/az_json.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_parser.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add double support to JSON builder and JSON parser (#896)
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fix TODO to use int32 when parsing JSON in paho iot hub twin sample.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename JSON parser/builder APIs to reader/writer and update all call sites.
  README.md
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Address feedback, remove temporary local.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove unused az_result error codes that are no longer relevant.
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix TODO to use int32 when parsing JSON in paho iot hub twin sample. (#907)
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Move init to be a suffix in chunked API.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_builder.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove unused az_result error codes that are no longer relevant. (#910)
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

printf and printf_az_span updates * checks punctuation * adds (void) * improves printf_az_span interface to be like printf
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

in progress
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Change the init APIs to accept void* user_context instead of the allocator callback struct.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_builder.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Put back putchar
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename JSON parser/builder APIs to reader/writer and update all call (#909)
  README.md
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno
