Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng

pr comments
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

build fix
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

windows fix and break out telemetry payload
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

get twin first to check for update
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

pr comments and convert to synchronous
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update to new pnp model id api
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add pnp sample for v2 dtmi (#862)
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

rename
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

correct syntax
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add caching for Vcpkg
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

correct syntax
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

correct syntax
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

add engsys versioning
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

add condition for vcpkg version
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Only bootstrap vcpkg if the cache did not restore
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update README.md (#914)
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Instructions on how to upgrade installed packages (#915)
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

clarify engsys version string
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Tighten up inner loop
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

formatting
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Updates per comments
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

small edits
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Caching changes and names
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

comma
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

sudo rm
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

sudo mkdir
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

chmod 777
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

whoami
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

id
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

chown
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

what's wrong with mac
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Set path for vcpkg
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "what's wrong with mac"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Revert "Tighten up inner loop"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

remove package .txt files
  sdk/docs/core/package.txt
  sdk/docs/storage/package.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add ability to skip vcpkg cache
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Remove engsys version key from cache
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

DPS sample: error handling (#918)
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update vscode instructions
  .README.md.swp
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

remove swap
  .README.md.swp
Owners: @rickwinter, @jeffreyrichter, @joshfree
