Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

remove double length include for api version
  sdk/src/azure/iot/az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update vscode instructions (#920)
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

remove double length include for api version (#922)
  sdk/src/azure/iot/az_iot_hub_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add swp files to the ignore list
  .gitignore
Owners: @rickwinter, @jeffreyrichter, @joshfree

Fixing Telemetry sample.
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Fixing use-after-free bug in provisioning sample.
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Throw cmake error when setting MOCK ON without gcc
  CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree

add swp files to the ignore list (#923)
  .gitignore
Owners: @rickwinter, @jeffreyrichter, @joshfree

Add vcpkg information to README.md
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Add vcpkg language to other places referenced in README.md
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Reverting .vscode change for now.
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @rickwinter, @jeffreyrichter, @joshfree

Update antecedent
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Reverting readme.md re .vscode
  README.md
Owners: @rickwinter, @jeffreyrichter, @joshfree

Adding IoT Hub WebSockets APIs, fixing Y2k38 issue (#924)
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_sas_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/tests/iot/common/test_az_iot_common.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

rename (#919)
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Apply suggestions from code review
  CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree

Throw cmake error when setting MOCK ON without gcc (#925)
  CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree

[iot] Fix generate_certificate.cmd, affected by samples reorg
  sdk/samples/iot/hub/src/generate_certificate.cmd
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

[iot] Fix generate_certificate.cmd, affected by samples reorg (#926)
  sdk/samples/iot/hub/src/generate_certificate.cmd
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

initial copy of provisioning sample for SAS
  sdk/samples/iot/provisioning/src/paho_iot_sas_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Provisioning SAS Sample
  CMakeLists.txt
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/provisioning/CMakeLists.txt
  sdk/samples/iot/provisioning/src/paho_iot_sas_provisioning_example.c
  sdk/samples/iot/src/sample_sas_utility.c
  sdk/samples/iot/src/sample_sas_utility.h
Owners: @rickwinter, @jeffreyrichter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

* add generate cert cmd for provisioning. * update generate cert sh for provisioning. * update Logging and free memory in SAS DPS sample
  sdk/samples/iot/provisioning/src/generate_certificate.cmd
  sdk/samples/iot/provisioning/src/generate_certificate.sh
  sdk/samples/iot/provisioning/src/paho_iot_sas_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Ports folder support
  CMakeLists.txt
  CMakeSettings.json
  sdk/http_adapters/mocks/az_http_adapter.c
  sdk/ports/mocks/az_platform_impl.h
  sdk/src/azure/core/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_policy.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

CMakeLists cleanup
  CMakeLists.txt
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/inc/sample_sas_utility.h
  sdk/samples/iot/provisioning/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Review feedback: use vcpkg tag, remove redundant inaccurate comment
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Apply suggestions from code review
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

generate cert scripts updated
  sdk/samples/iot/hub/src/generate_certificate.sh
  sdk/samples/iot/provisioning/src/generate_certificate.cmd
  sdk/samples/iot/provisioning/src/generate_certificate.sh
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Wrap key in quotes to prevent it being read as a file
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
