Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

Exclude unnecessary file from cmake
  sdk/core/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Add subdirectory only for specified platform (#767)
  CMakeLists.txt
  sdk/platform/posix/CMakeLists.txt
  sdk/platform/win32/CMakeLists.txt
Owners: @gilbertw, @jeffreyrichter, @joshfree, @antkmsft

Update changelog and bump preview version
  Doxyfile
  sdk/core/core/CHANGELOG.md
  sdk/core/core/inc/az_version.h
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

increment version to 1.0.0-preview.2
  Doxyfile
  sdk/core/core/inc/az_version.h
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Exclude unnecessary file from cmake (#769)
  sdk/core/core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

add preview version
  sdk/core/core/inc/az_version.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

bullet points
  sdk/core/core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update changelog and bump preview version (#770)
  Doxyfile
  sdk/core/core/CHANGELOG.md
  sdk/core/core/inc/az_version.h
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Make AZ_SPAN_INIT_FROM_BUFFER() to call the regular az_span_init() instead of always the lightweight one
  sdk/core/core/inc/az_span.h
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository (#768)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

remove macros from samples
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @ahsonkhan, @antkmsft, @gilbertw, @jeffreyrichter, @vhvb1989

update name of iot common alias
  sdk/iot/common/CMakeLists.txt
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

update docs to use a hardcoded (not package-specific) location for the currentPackge()
  eng/docs/api/assets/header.html
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

the registration string for signing should not be escaped
  sdk/iot/provisioning/src/az_iot_provisioning_client_sas.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fix unit tests
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_sas.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

fixed overflow unit tests
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_sas.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

set PAL to use for all samples and tests
  CMakeLists.txt
  sdk/core/core/test/cmocka/CMakeLists.txt
  sdk/iot/common/tests/cmocka/CMakeLists.txt
  sdk/iot/hub/samples/CMakeLists.txt
  sdk/iot/hub/tests/cmocka/CMakeLists.txt
  sdk/iot/provisioning/samples/CMakeLists.txt
  sdk/iot/provisioning/tests/cmocka/CMakeLists.txt
  sdk/samples/keyvault/keyvault/samples/CMakeLists.txt
  sdk/samples/keyvault/keyvault/test/cmocka/CMakeLists.txt
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/test/cmocka/CMakeLists.txt
Owners: @gilbertw, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

[iot] Step by step guide of how to run IoT Hub samples
  sdk/iot/README.md
  sdk/iot/doc/how_to_iot_hub_samples.md
  sdk/iot/doc/resources/az_01_first_page.png
  sdk/iot/doc/resources/az_02_about_you.png
  sdk/iot/doc/resources/az_03_identity_ver.png
  sdk/iot/doc/resources/az_04_identity_ver.png
  sdk/iot/doc/resources/az_05_payment.png
  sdk/iot/doc/resources/az_06_agreement.png
  sdk/iot/doc/resources/az_07_sign_up.png
  sdk/iot/doc/resources/az_08_quickstart.png
  sdk/iot/doc/resources/az_iot_01_dashboard.png
  sdk/iot/doc/resources/az_iot_create_01_search.png
  sdk/iot/doc/resources/az_iot_create_02_add.png
  sdk/iot/doc/resources/az_iot_create_03_resourcegroup.png
  sdk/iot/doc/resources/az_iot_create_04_review.png
  sdk/iot/doc/resources/az_iot_create_05_create.png
  sdk/iot/doc/resources/az_iot_create_06_complete.png
  sdk/iot/doc/resources/az_iot_hub_devices_01_devices.png
  sdk/iot/doc/resources/az_iot_hub_devices_02_create.png
  sdk/iot/doc/resources/az_iot_hub_devices_03_done.png
  sdk/iot/doc/resources/embc_samples_01_device.png
  sdk/iot/doc/resources/embc_samples_02_c2d.png
  sdk/iot/doc/resources/embc_samples_03_c2d_success.png
  sdk/iot/doc/resources/embc_samples_04_methods.png
  sdk/iot/doc/resources/embc_samples_05_methods_response.png
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update the helpful links in the contributing guide. (#762)
  CONTRIBUTING.md
Owners: @gilbertw, @jeffreyrichter, @joshfree

[iot][acr] Step by step guide of how to run IoT Hub samples
  sdk/iot/doc/how_to_iot_hub_samples.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @gilbertw @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @gilbertw @jeffreyrichter @vhvb1989

# Samples
/samples/ @gilbertw @jeffreyrichter

# Service teams
/sdk/core/                  @ahsonkhan @antkmsft @gilbertw @jeffreyrichter @vhvb1989
/sdk/keyvault/              @vhvb1989
/sdk/platform/posix/        @antkmsft @jeffreyrichter
/sdk/platform/http_client/  @vhvb1989
/sdk/platform/win32/        @antkmsft @jeffreyrichter
/sdk/storage/               @gilbertw
/sdk/iot/                   @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
