Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jeffreyrichter, @antkmsft, @vhvb1989, @gilbertw, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jeffreyrichter @antkmsft

# Service teams
/sdk/core/      @vhvb1989 @antkmsft @gilbertw @jeffreyrichter
/sdk/keyvault/  @vhvb1989
/sdk/storage/   @gilbertw
/sdk/transport_policies/   @vhvb1989

###########
# Eng Sys
###########
/eng/       @danieljurek
/**/ci.yml  @danieljurek

unwanted change
  sdk/core/core/inc/_az_cfg.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Cleanup enum constants Switch from a boolean to an enum for clarity
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/internal/az_constants_internal.h
  sdk/core/core/internal/az_time_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Add security policy
  SECURITY.md
Owners: none

move facility enum to az_result
  sdk/core/core/inc/az_facility.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_result.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

http request moved to internal
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_pipeline.c
  sdk/core/core/src/az_http_policy.c
  sdk/core/core/src/az_http_private.h
  sdk/core/core/src/az_http_request_builder.c
  sdk/core/core/src/az_log.c
  sdk/core/core/src/az_log_private.h
  sdk/core/core/test/main.c
  sdk/core/core/test/test_log.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Add security policy (#344)
  SECURITY.md
Owners: none

Most of the PR feedback
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/keyvault/keyvault/test/client_key_poc.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

moving http request methods to internal headers
  sdk/core/core/CMakeLists.txt
  sdk/core/core/inc/az_http.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_request.c
  sdk/core/core/src/az_http_response.c
  sdk/core/core/src/az_log.c
  sdk/core/core/test/main.c
  sdk/core/core/test/test_log.c
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Fix HTTP request sending in auth code (#338)
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/internal/az_credentials_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/keyvault/keyvault/test/client_key_poc.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/transport_policies/curl/inc/az_curl.h
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

remove constraints on paths that trigger a ci build to fix issues where a change to a .md file in the root of the repo does not kick off a CI run
  eng/pipelines/client.yml
Owners: @danieljurek

add doxyfile template, pipeline, and supporting artifacts (#312)
  eng/docs/Doxyfile.template
  eng/docs/assets/footer.html
  eng/docs/assets/header.html
  eng/docs/assets/style.css
  eng/docs/generate_docs.py
  eng/pipelines/docs.yml
Owners: @danieljurek

fix accesing internal fields direclty
  sdk/core/core/src/az_http_response_parser.c
  sdk/core/core/src/az_json_parser.c
  sdk/core/core/src/az_json_pointer.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

move facility enum to az_result (#345)
  sdk/core/core/inc/az_facility.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_result.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Victor/json/remove span reader from json (#342)
  sdk/core/core/CMakeLists.txt
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_span_reader.h
  sdk/core/core/src/az_http_response_parser.c
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_json_get.c
  sdk/core/core/src/az_json_parser.c
  sdk/core/core/src/az_json_pointer.c
  sdk/core/core/src/az_json_string.c
  sdk/core/core/src/az_json_string_private.h
  sdk/core/core/src/az_span.c
  sdk/core/core/src/az_span_private.h
  sdk/core/core/src/az_span_reader.c
  sdk/core/core/src/az_span_reader_private.h
  sdk/core/core/test/main.c
  sdk/core/core/test/test_json_pointer.c
  sdk/core/core/test/test_json_string.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Minor cleanups
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_pal.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/internal/az_contract_internal.h
  sdk/core/core/internal/az_log_internal.h
  sdk/core/core/src/az_http_request_builder.c
  sdk/core/core/src/az_span.c
  sdk/core/core/test/az_test.h
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/keyvault/keyvault/test/client_key_poc.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

EOL@EOF
  sdk/core/core/inc/az_pal.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Update comment
  sdk/core/core/test/test_log.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

PR Feedback
  sdk/core/core/src/az_span.c
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Minor cleanups (#349)
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_pal.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/internal/az_contract_internal.h
  sdk/core/core/internal/az_log_internal.h
  sdk/core/core/src/az_http_request_builder.c
  sdk/core/core/src/az_span.c
  sdk/core/core/test/az_test.h
  sdk/core/core/test/test_log.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/keyvault/keyvault/test/client_key_poc.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Initial sample folder structure
  samples/REAMDE.md
  sdk/storage/blobs/samples/README.md
Owners: @gilbertw

Add sample folder structure to core and keyvault clients
  sdk/core/core/samples/README.md
  sdk/keyvault/keyvault/samples/README.md
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

fix delete api with wrong method verb
  sdk/keyvault/keyvault/src/az_keyvault_client.c
Owners: @vhvb1989

fix delete api with wrong method verb (#351)
  sdk/keyvault/keyvault/src/az_keyvault_client.c
Owners: @vhvb1989

Feedback from constant review
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/internal/az_config_internal.h
  sdk/core/core/internal/az_contract_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

rename status code with underscore
  sdk/core/core/inc/az_http.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_http_response.c
  sdk/core/core/test/test_http_response_read_and_parse.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Review cleanup
  sdk/core/core/inc/az_config.h
  sdk/core/core/internal/az_config_internal.h
  sdk/core/core/src/az_aad_private.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Merge fix
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @gilbertw

Update samples/REAMDE.md
  samples/REAMDE.md
Owners: none

Update samples/REAMDE.md
  samples/REAMDE.md
Owners: none

make all private functions have _ as starting
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_http_transport.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_private.h
  sdk/core/core/src/az_http_request.c
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_json_data.c
  sdk/core/core/src/az_json_get.c
  sdk/core/core/src/az_json_parser.c
  sdk/core/core/src/az_json_pointer.c
  sdk/core/core/src/az_json_string.c
  sdk/core/core/src/az_json_string_private.h
  sdk/core/core/src/az_log.c
  sdk/core/core/src/az_span.c
  sdk/core/core/src/az_span_private.h
  sdk/core/core/test/main.c
  sdk/core/core/test/test_json_pointer.c
  sdk/core/core/test/test_json_string.c
  sdk/core/core/test/test_log.c
  sdk/core/core/test/test_mut_span.c
  sdk/core/core/test/test_span_builder_replace.c
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

remove unused include
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989

Feedback from review
  sdk/core/core/inc/az_http.h
  sdk/core/core/internal/az_http_pipeline_internal.h
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Victor/http/move request to internal (#347)
  sdk/core/core/CMakeLists.txt
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_http_transport.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/internal/az_http_pipeline_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/core/core/src/az_credentials.c
  sdk/core/core/src/az_http_pipeline.c
  sdk/core/core/src/az_http_policy.c
  sdk/core/core/src/az_http_private.h
  sdk/core/core/src/az_http_request.c
  sdk/core/core/src/az_http_response.c
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_json_data.c
  sdk/core/core/src/az_json_get.c
  sdk/core/core/src/az_json_parser.c
  sdk/core/core/src/az_json_pointer.c
  sdk/core/core/src/az_json_string.c
  sdk/core/core/src/az_json_string_private.h
  sdk/core/core/src/az_log.c
  sdk/core/core/src/az_log_private.h
  sdk/core/core/src/az_span.c
  sdk/core/core/src/az_span_private.h
  sdk/core/core/test/main.c
  sdk/core/core/test/test_http_response_read_and_parse.c
  sdk/core/core/test/test_json_pointer.c
  sdk/core/core/test/test_json_string.c
  sdk/core/core/test/test_log.c
  sdk/core/core/test/test_mut_span.c
  sdk/core/core/test/test_span_builder_replace.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
  sdk/storage/blobs/test/storage_blobs_poc.c
  sdk/transport_policies/curl/CMakeLists.txt
  sdk/transport_policies/curl/src/az_curl.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Updates from merge
  sdk/core/core/internal/az_http_internal.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Fix file name
  samples/README.md
Owners: none

Small fix
  samples/README.md
Owners: none

Missing new line at end of file for MAC build
  sdk/core/core/internal/az_config_internal.h
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Initial sample folder structure (#350)
  samples/README.md
  sdk/core/core/samples/README.md
  sdk/keyvault/keyvault/samples/README.md
  sdk/storage/blobs/samples/README.md
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Add a config header containing user configurable constants (#339)
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/internal/az_config_internal.h
  sdk/core/core/internal/az_contract_internal.h
  sdk/core/core/internal/az_http_internal.h
  sdk/core/core/internal/az_time_internal.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_aad_private.h
  sdk/core/core/src/az_http_policy.c
  sdk/keyvault/keyvault/inc/az_keyvault.h
  sdk/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter

Add samples into Sample folders Add ability to build the SDK without building the samples -By default samples are built
  CMakeLists.txt
  sdk/core/core/samples/README.md
  sdk/keyvault/keyvault/CMakeLists.txt
  sdk/keyvault/keyvault/samples/CMakeLists.txt
  sdk/keyvault/keyvault/samples/README.md
  sdk/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/CMakeLists.txt
  sdk/storage/blobs/samples/CMakeLists.txt
  sdk/storage/blobs/samples/README.md
  sdk/storage/blobs/samples/src/blobs_client_example.c
Owners: @vhvb1989, @antkmsft, @gilbertw, @jeffreyrichter
