Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno, @danieljurek, @damirault, @azure/azure-sdk-eng

Update assert for double parsing that result in infinity, since it is compiler specific.
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix merge conflict from master - keyvault is gone.
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
Owners: @vhvb1989

Fix aad by adding the missing move_to_next token call.
  sdk/src/azure/core/az_aad.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Move span size check to a precondition and add an az_result which indicates that parsing is done.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/src/azure/core/az_json_parser.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

use html unicode symbol
  sdk/docs/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Rename and shorten move_to_next_token API.
  sdk/inc/azure/core/az_json.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Update comments to mention token field is readonly and text equals is case sensitive.
  sdk/inc/azure/core/az_json.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Address PR feedback.
  sdk/src/azure/core/az_json_parser.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add permutations of numeric type parsing and formatting APIs on span - ato[u|i][32|64], atod and the inverse [u|i][32|64]toa, dtoa. (#885)
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Remove AZ_ERROR_MUTEX as it is no longer needed anymore.
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Redesign JSON parser and JSON token APIs with lazy evaluation of tokens, proper unescaping support, and hardened validation (#871)
  CMakeSettings.json
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/core/az_json_pointer.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_string.c
  sdk/src/azure/core/az_json_string_private.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Add double support to JSON builder - az_json_builder_append_double_number
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_builder.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Add az_json_token_get methods for different integer sizes and doubles.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Make sure strings with negative values aren't allowed for unsigned parsing.
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Fix tests for parsing infinity, and use _is_double_equal helper.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

A really small number resulting in 0 is also compiler specific.
  sdk/tests/core/test_az_json.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Use HTML entities that render predictably in both GitHub and Doxygen
  sdk/docs/iot/README.md
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove Update-Emojis.ps1. We can use common html entities
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/scripts/Update-Emojis.ps1
  eng/scripts/emojis.json
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update provisioning client parser to retain original logic for partial JSON.
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove old files Better error messages
  sdk/ports/_template/az_platform_impl.h
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update pipelines
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository (#889)
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Update comments Add default configuration to VS builds
  CMakeSettings.json
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Remove AZ_ERROR_MUTEX as it is no longer needed anymore. (#895)
  sdk/inc/azure/core/az_result.h
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

[iot] Fixes to Azure IoT Hub ESP8266 sample
  sdk/docs/iot/README.md
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/hub/aziot_esp8266/generate_arduino_zip_library.sh
  sdk/samples/iot/hub/aziot_esp8266/how_to_esp8266_nodemcu.md
  sdk/samples/iot/hub/aziot_esp8266/iot_configs.h
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

put back az_iot_provision_client.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

"first updates"
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add response to fcn signature
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

add newline
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

make topic printf a print_az_span
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Updates per comments
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

clang-format
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove freeing memory printf
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

remove helper comment
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Newline. Fix build errors.
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Owners: @CIPop, @danewalton, @ericwol-msft, @ewertons, @hihigupt, @jspaith, @momuno

Remove old files Better error messages
  sdk/ports/_template/az_platform_impl.h
  sdk/src/azure/platform/CMakeLists.txt
  sdk/src/azure/platform/az_curl.c
  sdk/src/azure/platform/az_nohttp.c
  sdk/src/azure/platform/az_noplatform.c
  sdk/src/azure/platform/az_posix.c
  sdk/src/azure/platform/az_win32.c
Owners: @ahsonkhan, @antkmsft, @rickwinter, @jeffreyrichter, @vhvb1989

Update pipelines
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

Add ports folder for building platform
  CMakeLists.txt
  sdk/http_adapters/_template/az_http_adapter.c
  sdk/http_adapters/curl/az_http_adapter.c
  sdk/inc/azure/core/az_platform.h
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/src/azure/core/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Update comments Add default configuration to VS builds
  CMakeSettings.json
  sdk/ports/_template/az_platform_impl.h
  sdk/ports/posix/az_platform_impl.h
  sdk/ports/win32/az_platform_impl.h
Owners: @rickwinter, @jeffreyrichter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

MacOS should use POSIX
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @damirault, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
* @rickwinter @jeffreyrichter @joshfree

# SDK team
/sdk/ @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# Samples
/samples/ @rickwinter @jeffreyrichter

# Service teams
# Core
sdk/docs/core/                @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/inc/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/samples/core/             @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/src/azure/core/           @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989
sdk/tests/core/               @ahsonkhan @antkmsft @rickwinter @jeffreyrichter @vhvb1989

# IoT
sdk/docs/iot/                 @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/inc/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/samples/iot/              @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/src/azure/iot/            @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno
sdk/tests/iot/                @CIPop @danewalton @ericwol-msft @ewertons @hihigupt @jspaith @momuno

# Keyvault
sdk/samples/keyvault/         @vhvb1989

# Platform
sdk/src/azure/platform/       @antkmsft @jeffreyrichter @vhvb1989

# Storage
sdk/docs/storage/             @rickwinter
sdk/inc/azure/storage/        @rickwinter
sdk/samples/storage/          @rickwinter
sdk/src/azure/storage/        @rickwinter
sdk/tests/storage/            @rickwinter

###########
# Eng Sys
###########
/eng/       @danieljurek @damirault @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @damirault @azure/azure-sdk-eng
