Repository Azure/azure-sdk-for-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman, @ewertons, @RLeclair, @vaavva, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Add 'APIView prod deployment' to internal service connections
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Add 'APIView prod deployment' to internal service connections (#3323)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 01ac87ee417d225e5396ef35e6f7ecf38c8ce5f9
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Update paths to include all files in .github directory for evals
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Owners: @Azure/azure-sdk-eng

Update paths to include all files in .github directory for evals (#3326)
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Owners: @Azure/azure-sdk-eng

authoring instructions
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Remove Invoke-ToolDescriptionEvaluator script
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Remove Invoke-ToolDescriptionEvaluator script (#3327)
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Owners: @Azure/azure-sdk-eng

Update New-TestResources.ps1 for MCP AMLFS case
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Migrate stress cluster resource groups (#3307)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) f2b60ae4ae82730ab77d0f5e1f4087064821865f
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

Remove GitHub Actions from dependabot.yml
  .github/dependabot.yml
Owners: @rickwinter, @ronniegeraghty

Remove GitHub Actions from dependabot.yml (#3329)
  .github/dependabot.yml
Owners: @rickwinter, @ronniegeraghty

Add serviceConnections parameter to npmAuthenticate task.
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
Owners: @Azure/azure-sdk-eng

Add serviceConnections parameter to npmAuthenticate task. (#3330)
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
Owners: @Azure/azure-sdk-eng

Add instruction to authenticate with Github CLI
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Sync .github/workflows directory with azure-sdk-tools repository
  .github/workflows/event-processor.yml
  .github/workflows/post-apiview.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

Add LoginToGH script
  eng/common/scripts/LoginToGH.ps1
Owners: @Azure/azure-sdk-eng

Sync .github/workflows directory with azure-sdk-tools repository (#3331)
  .github/workflows/event-processor.yml
  .github/workflows/post-apiview.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

Add instruction to authenticate with Github CLI (#3332)
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) fb9068a038714964184f7397e62c1d8dc427f4bd
  CONTRIBUTING.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  index.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  toc.html
  xrefmap.yml
Owners: @rickwinter, @ronniegeraghty

change the tool name
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instructions
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instructions
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

change the tool name
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Owners: @Azure/azure-sdk-eng

Update SDK generation as completed when SDK pull request is linked to release plan
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update vcpkg commit hash
  eng/vcpkg-commit.txt
Owners: @danieljurek, @weshaggard, @benbp

Update default VCPKG commit string
  cmake-modules/AzureVcpkg.cmake
Owners: @rickwinter, @ronniegeraghty

Update SDK generation as completed when SDK pull request is linked to release plan (#3333)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

small adjustment. linux doesn't work if we set this value
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

usedotnet9 if no DOTNET_HOST is set
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

remove the UseDotnetVersion. set DOTNET_ROOT on linux/mac
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 13555 (#3335)
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Use clock_gettime() instead of clock() in POSIX implementation of z_platform_clock_msec().
  CHANGELOG.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/internal/az_config_internal.h
  sdk/src/azure/platform/az_posix.c
Owners: @rickwinter, @ronniegeraghty, @antkmsft, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files
/**                            @rickwinter @ronniegeraghty

# GitHub integration files
/.github/                      @rickwinter @ronniegeraghty

# SDK team
/sdk/                          @rickwinter @ronniegeraghty

# Samples
/samples/                      @antkmsft @rickwinter @gearama @LarryOsterman

# Service teams
# Core
/sdk/docs/core/                @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/inc/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/samples/core/             @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/src/azure/core/           @antkmsft @rickwinter @gearama @LarryOsterman
/sdk/tests/core/               @antkmsft @rickwinter @gearama @LarryOsterman

# IoT
/sdk/docs/iot/                 @ewertons @RLeclair @vaavva
/sdk/inc/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/samples/iot/              @ewertons @RLeclair @vaavva
/sdk/src/azure/iot/            @ewertons @RLeclair @vaavva
/sdk/tests/iot/                @ewertons @RLeclair @vaavva

# Platform
/sdk/src/azure/platform/       @antkmsft @rickwinter @gearama @LarryOsterman

###########
# Eng Sys
###########
/eng/                          @danieljurek @weshaggard @benbp
/eng/common/                   @Azure/azure-sdk-eng
/.github/workflows/            @Azure/azure-sdk-eng
/.github/CODEOWNERS            @rickwinter @ronniegeraghty @Azure/azure-sdk-eng
