Repository Azure/azure-sdk-for-c, pull requests merged in 2020-05, with the labels that each got.

#658 IoT Core, Provisioning state APIs implementations
  sdk/core/core/inc/_az_cfg.h
  sdk/core/core/inc/_az_cfg_prefix.h
  sdk/core/core/inc/_az_cfg_suffix.h
  sdk/core/core/inc/az_config.h
  sdk/core/core/inc/az_context.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_http_transport.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_log.h
  sdk/core/core/inc/az_precondition.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/inc/az_version.h
  sdk/iot/core/inc/az_iot_core.h
  sdk/iot/core/src/az_iot_core.c
  sdk/iot/core/tests/cmocka/test_az_iot_core.c
  sdk/iot/doc/mqtt_state_machine.md
  sdk/iot/doc/resources/iot_hub_flow.puml
  sdk/iot/doc/resources/iot_provisioning_flow.puml
  sdk/iot/doc/resources/iot_retry_flow.puml
  sdk/iot/hub/inc/az_iot_hub_client.h
  sdk/iot/hub/src/az_iot_hub_client.c
  sdk/iot/hub/src/az_iot_hub_client_c2d.c
  sdk/iot/hub/src/az_iot_hub_client_twin.c
  sdk/iot/pnp/inc/az_iot_pnp_client.h
  sdk/iot/provisioning/inc/az_iot_provisioning_client.h
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_parser.c
Labels: Iot

#670 Adding Azure IoT Logging
  sdk/core/core/inc/az_log.h
  sdk/iot/core/src/az_iot_core.c
  sdk/iot/core/tests/cmocka/test_az_iot_core.c
  sdk/iot/hub/src/az_iot_hub_client_c2d.c
  sdk/iot/hub/src/az_iot_hub_client_methods.c
  sdk/iot/hub/src/az_iot_hub_client_sas.c
  sdk/iot/hub/src/az_iot_hub_client_twin.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_c2d.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_methods.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_sas.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_twin.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/src/az_iot_provisioning_client_sas.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_parser.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_sas.c
Labels: Iot

#685 [API breaking change] Changing MQTT subscribe APIs to macros
  sdk/iot/doc/mqtt_state_machine.md
  sdk/iot/doc/resources/iot_hub_flow.puml
  sdk/iot/doc/resources/iot_provisioning_flow.puml
  sdk/iot/hub/inc/az_iot_hub_client.h
  sdk/iot/hub/samples/CMakeLists.txt
  sdk/iot/hub/samples/README.md
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
  sdk/iot/hub/src/az_iot_hub_client_c2d.c
  sdk/iot/hub/src/az_iot_hub_client_methods.c
  sdk/iot/hub/src/az_iot_hub_client_twin.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_c2d.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_methods.c
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_twin.c
  sdk/iot/provisioning/inc/az_iot_provisioning_client.h
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client.c
Labels: Iot

#700 Change to az_failed and az_succeeded in samples
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Labels: Iot

#702 Update sample script to strip colons from cert fingerprint
  sdk/iot/hub/samples/README.md
  sdk/iot/hub/samples/src/generate_certificate.sh
Labels: Iot

#706 Add comments to the IoT Hub Samples
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Labels: Iot

#664 Redesign JSON builder APIs and add validation.
  CMakeSettings.json
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_result.h
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_json_parser.c
  sdk/core/core/src/az_json_pointer.c
  sdk/core/core/src/az_json_private.h
  sdk/core/core/src/az_json_string_private.h
  sdk/core/core/src/az_json_token.c
  sdk/core/core/test/cmocka/test_az_json.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/samples/keyvault/keyvault/src/az_keyvault_client.c
Labels: Azure.Core, Client, Design, feature-request

#692 Fix comment format to what doxygen expects by adding an asterisk
  sdk/core/core/inc/az_json.h
Labels: Docs

#708 Fix a typo in comments.
  sdk/core/core/internal/az_http_internal.h
Labels: Docs

#679 Updated Function Results section
  sdk/core/core/README.md
Labels: Docs

#709 Fix typo and link to SDK function argument validation within the root README.
  README.md
Labels: Docs

#704 new readme changes
  README.md
  sdk/iot/README.md
  sdk/iot/hub/readme.md
  sdk/iot/provisioning/readme.md
Labels: Iot

#703 Sample readme updates
  sdk/iot/hub/samples/README.md
Labels: Iot

#716 Rename az_dec_number by appending an underscore (indicating internal only) so it doesn't show up in docs.
  sdk/core/core/src/az_json_parser.c
Labels: Docs

#724 Temporarily remove double support from span and json.
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_span.c
  sdk/core/core/test/cmocka/test_az_json.c
Labels: Azure.Core

#725 Remove the "getting started" section from the az_core README.
  sdk/core/core/README.md
Labels: Docs

#718 Add brief keyword to make sure the description shows up in docs and remove repeated type names
  sdk/core/core/inc/az_context.h
  sdk/core/core/inc/az_credentials.h
  sdk/core/core/inc/az_http.h
  sdk/core/core/inc/az_json.h
  sdk/core/core/inc/az_span.h
Labels: Docs

#726 Update root samples doc to include links to IoT samples.
  samples/README.md
Labels: Docs

#744 Provisioning doc typo
  sdk/iot/provisioning/readme.md
Labels: Iot

#741 Update readme names
  sdk/iot/README.md
  sdk/iot/hub/readme.md
  sdk/iot/provisioning/readme.md
Labels: Client, Docs, Iot

#719 Make sure to avoid passing null ptr to memcmp within az_span_is_content_equal.
  sdk/core/core/inc/az_span.h
  sdk/core/core/test/cmocka/test_az_span.c
Labels: Azure.Core, bug

#734 Add documentation to the storage header
  sdk/storage/blobs/inc/az_storage_blobs.h
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Labels: Docs

#735 Mono docs improvements
  .gitignore
  Doxyfile
  README.md
  eng/docs/api/assets/DoxygenLayout.xml
  eng/docs/api/assets/header.html
  sdk/core/core/version.txt
  sdk/iot/version.txt
  sdk/storage/blobs/version.txt
Labels: Docs

#737 Sync eng/common directory with azure-sdk-tools repository
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys

#764 Add comments about graceful disconnect in hub samples
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
Labels: Iot

#762 Update the helpful links in the contributing guide.
  CONTRIBUTING.md
Labels: Docs

#765 Add comments to the provisioning sample
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Labels: Iot

#774 Update name of iot common alias
  sdk/iot/common/CMakeLists.txt
Labels: Iot

#784 Refactor release pipeline to release a single SDK release instead of per package
  Doxyfile
  eng/pipelines/ci.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-c-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/Get-SdkVersion.ps1
  eng/scripts/SdkVersion-Common.ps1
  eng/scripts/Update-SdkVersion.ps1
  sdk/core/az_core/CHANGELOG.md
  sdk/core/az_core/inc/az_version.h
Labels: EngSys
