Repository Azure/azure-sdk-for-c, pull requests merged in 2020-08, with the labels that each got.

#975 Update changelog content for preview3.
  sdk/docs/core/CHANGELOG.md
Labels: Docs

#974 Limit use of sscanf only to double parsing, using a custom implementation for {u}int{32|64} parsing.
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core

#980 Remove support for non-finite double values while parsing/formatting and update tests.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core

#981 Use custom, portable implementation of IEEE 754 compliant isfinite since some embedded platforms don't have it.
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_span.c
Labels: Azure.Core

#953 Sample code restructure part 1
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/aziot_esp8266/generate_arduino_zip_library.sh
  sdk/samples/iot/aziot_esp8266/iot_configs.h
  sdk/samples/iot/docs/how_to_iot_hub_esp8266_nodemcu.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/generate_certificate.cmd
  sdk/samples/iot/generate_certificate.sh
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/src/generate_certificate.cmd
  sdk/samples/iot/hub/src/generate_certificate.sh
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/provisioning/CMakeLists.txt
  sdk/samples/iot/provisioning/README.md
  sdk/samples/iot/provisioning/src/x509_config.cfg
  sdk/samples/iot/readme.md
  sdk/samples/iot/sample_sas_utility.c
  sdk/samples/iot/sample_sas_utility.h
  sdk/samples/iot/x509_config.cfg
Labels: Client, Docs, Iot

#987 Sample directory restructure - with linting
  sdk/samples/iot/readme.md
Labels: Client, Docs, Iot

#990 Link Update
  sdk/samples/iot/README.md
Labels: Docs, Iot

#985 Update dropped changes from sample directory restructure
  sdk/samples/iot/CMakeLists.txt
Labels: Client, Docs, Iot

#991 update TARGET_NAME
  sdk/samples/iot/CMakeLists.txt
Labels: Client, Iot

#1001 update project name on iot CMake
  sdk/samples/iot/CMakeLists.txt
Labels: Iot

#978 add pnp component sample
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_example.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/samples/iot/sample_pnp_component_mqtt.c
  sdk/samples/iot/sample_pnp_component_mqtt.h
  sdk/samples/iot/sample_pnp_device_info_component.c
  sdk/samples/iot/sample_pnp_device_info_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Labels: Iot

#988 API review feedback
  sdk/docs/core/CHANGELOG.md
  sdk/docs/core/README.md
  sdk/inc/azure/core/az_config.h
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/internal/az_config_internal.h
  sdk/inc/azure/core/internal/az_retry_internal.h
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_aad_private.h
  sdk/src/azure/core/az_context.c
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
  sdk/tests/core/test_az_context.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_pipeline.c
  sdk/tests/core/test_az_policy.c
Labels: Azure.Core, Design

#1008 Address API review feedback related to APIs in az_span.h.
  sdk/docs/core/CHANGELOG.md
  sdk/docs/iot/README.md
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_example.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp_component_mqtt.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_sas_utility.c
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_credential_client_secret.c
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_methods.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_hub_client_telemetry.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/inc/az_test_precondition.h
  sdk/tests/core/inc/az_test_span.h
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Labels: Azure.Core, Design

#1011 Rename _az_is_finite to _az_isfinite to match STL and update call sites.
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_span.c
Labels: Azure.Core

#1013 Change occurrences of white space, white_space, and white-space to be a single word (whitespace) in APIs and docs.
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core

#1000 cleanup bad links and enable link verification
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  samples/README.md
  sdk/docs/core/README.md
  sdk/docs/iot/README.md
  sdk/docs/iot/hub.md
  sdk/docs/iot/provisioning.md
Labels: EngSys

#996 Add validation for CHANGELOG.md
  eng/pipelines/templates/stages/archetype-c-release.yml
Labels: EngSys

#1003 Remove PackageId from release tagging to follow new guidelines
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys

#1017 Update sample descriptions
  sdk/samples/iot/README.md
Labels: Client, Docs, Iot

#1023 Add support for reading JSON in non-contiguous buffers
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/tests/core/test_az_json.c
Labels: Azure.Core, Design, feature-request

#1012 Fix typos and spacing issues in contributing, security, changelog, issue templates, and \eng\ markdowns.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question-query-template.md
  CHANGELOG.md
  CONTRIBUTING.md
  eng/common/README.md
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/pipelines/templates/steps/replace-relative-links.yml
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/docs/index/templates/matthews/partials/class.tmpl.partial
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core, Docs

#1029 Rename AZ_ERROR_EOF az_result to a more descriptive AZ_ERROR_UNEXPECTED_END.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/core/test_az_json.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Labels: Azure.Core

#1031 Remove AZ_CONTINUE az_result and change predicate to return bool.
  sdk/inc/azure/core/az_result.h
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Labels: Azure.Core

#1028 Update changelog content for preview 4.
  CHANGELOG.md
Labels: Docs

#1034 Fix paho_iot_hub_twin sample by using a slightly larger buffer to hold the reported buffer JSON.
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Labels: Iot

#1035 Update changelog for preview 4 to include the sscanf related bug fix.
  CHANGELOG.md
Labels: Docs

#1026 Fix the directory name
  README.md
Labels: Docs

#1036 Update az_span_scan_util logic and behavior.
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Labels: Azure.Core

#1043 Update preview 4 changelog breaking changes to only include diff between preview 3 and 4.
  CHANGELOG.md
Labels: Docs

#1048 Fix for issue-945
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Labels: Client, Iot, bug

#1046 Embedded IoT Samples Refactor: Combine common code into sample.h and sample.c.
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_esp8266_nodemcu.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/generate_certificate.cmd
  sdk/samples/iot/generate_certificate.sh
  sdk/samples/iot/iot_sample_foundation.c
  sdk/samples/iot/iot_sample_foundation.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_sas_utility.c
  sdk/samples/iot/sample_sas_utility.h
Labels: Client, Docs, Iot

#1025 IoT Sample Readme Updates
  sdk/samples/iot/README.md
Labels: Docs, Iot

#1054 Sample update: includes and defines
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Labels: Client, Iot

#1055 Sample update: env vars and docs
  sdk/samples/iot/README.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/docs/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
Labels: Client, Docs, Iot

#1056 Sample update: functions and variables
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Labels: Client, Iot

#1066 az_span_ptr to az_span_size
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Labels: Client, Iot

#1047 Adjust CI YAML headers
  eng/pipelines/ci.yml
Labels: EngSys

#1072 Sync eng/common directory with azure-sdk-tools for PR 899
  eng/common/README.md
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys

#1073 Update README for PnP sample
  sdk/samples/iot/README.md
Labels: Client, Docs, Iot

#1078 add iot sample readme table of contents
  sdk/samples/iot/README.md
Labels: Iot

#1074 update IoT unit test names to unify
  sdk/tests/iot/hub/main.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.h
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_telemetry.c
Labels: Iot

#1075 Convert PnP Sample to standard sample style
  sdk/samples/iot/README.md
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
Labels: Client, Iot

#1090 Add the template headings in the preview 5 changelog
  CHANGELOG.md
Labels: Docs

#1041 Remove _az_span_scan_until and _az_predicate functionality.
  sdk/src/azure/core/az_http_request.c
  sdk/src/azure/core/az_http_response.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
Labels: Azure.Core

#1106 fix 404 redirect
  CONTRIBUTING.md
Labels: Docs

#1071 Sync eng/common directory with azure-sdk-tools for PR 881
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys

#1115 Fix issue where json reader was sometimes returning done when reading partial or incomplete JSON text.
  sdk/src/azure/core/az_json_reader.c
  sdk/tests/core/test_az_json.c
Labels: Azure.Core

#1109 Remove unused internal method since it has no callers: 'az_http_request_append_path'
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/src/azure/core/az_http_request.c
  sdk/tests/core/test_az_http.c
Labels: Azure.Core

#1095 Add ability to append existing JSON text value to the JSON writer, with runtime validation.
  CHANGELOG.md
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_json.c
Labels: Azure.Core, Client, Design

#1120 Make sure to use ref_ for json writer parameter names, where appropriate.
  sdk/inc/azure/core/az_json.h
  sdk/src/azure/core/az_json_writer.c
Labels: Azure.Core

#1102 Update pnp directions for samples
  sdk/samples/iot/README.md
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
Labels: Client, Docs, Iot

#1092 PnP Component Sample convert sample style
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp.h
  sdk/samples/iot/sample_pnp_device_info_component.c
  sdk/samples/iot/sample_pnp_device_info_component.h
  sdk/samples/iot/sample_pnp_mqtt_component.c
  sdk/samples/iot/sample_pnp_mqtt_component.h
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/samples/iot/sample_pnp_thermostat_component.h
Labels: Client, Iot

#1143 [Unblock clean CI] Remove the CI step to restore vcpkg from the cache and remove the analyze flag for MSVC
  eng/cmake/global_compile_options.txt
  eng/pipelines/templates/steps/vcpkg.yml
Labels: infrastructure

#1129 Sync eng/common directory with azure-sdk-tools for PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: EngSys

#1133 Turn warnings as errors for doxygen and add missing docs.
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/inc/azure/core/az_context.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/storage/az_storage_blobs.h
Labels: Docs, infrastructure

#1024 Replace bash and cmd cert gen files with powershell
  sdk/samples/iot/README.md
  sdk/samples/iot/generate_certificate.cmd
  sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/generate_certificate.sh
Labels: Iot

#1126 Updates: iot_sample_common, c2d sample, methods sample, telemetry sample
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/iot_samples_common.c
  sdk/samples/iot/iot_samples_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Labels: Client, Iot

#1060 Doc index generation
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/assets/docfx.json
  eng/docs/index/templates/matthews/styles/main.js
Labels: EngSys

#1148 Sample Updates: SAS Telemetry and Twin; Logging
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/iot_sample_common.h
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
Labels: Client, Iot

#1150 handle_method_request in method sample
  sdk/samples/iot/paho_iot_hub_methods_sample.c
Labels: Client, Iot

#1153 update return value of az_iot_message_properties_next
  CHANGELOG.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/iot/az_iot_common.h
  sdk/src/azure/iot/az_iot_common.c
  sdk/tests/iot/common/test_az_iot_common.c
Labels: Iot

#1152 Rename az_failed and az_succeeded to az_result_failed and az_result_succeeded.
  CHANGELOG.md
  sdk/docs/core/README.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/iot_sample_common.c
  sdk/samples/iot/paho_iot_hub_c2d_sample.c
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_telemetry_sample.c
  sdk/samples/iot/paho_iot_hub_twin_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/sample_pnp.c
  sdk/samples/iot/sample_pnp_thermostat_component.c
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_logging.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Labels: Azure.Core, Client, Design

#1157 Add AZ_ERROR_HTTP_NO_MORE_HEADERS and update az_http_response_get_next_header to return it.
  CHANGELOG.md
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/storage/blobs/src/blobs_client_example.c
  sdk/src/azure/core/az_http_policy_logging.c
  sdk/src/azure/core/az_http_response.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_logging.c
Labels: Azure.Core, Design, bug

#956 Generate map files
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/tests/core/CMakeLists.txt
  sdk/tests/iot/common/CMakeLists.txt
  sdk/tests/iot/hub/CMakeLists.txt
  sdk/tests/iot/provisioning/CMakeLists.txt
  sdk/tests/storage/blobs/CMakeLists.txt
Labels: EngSys

#1140 Documentation improvements
  sdk/docs/storage/README.md
  sdk/inc/azure/storage/az_storage_blobs.h
  sdk/src/azure/storage/az_storage_blobs_blob_client.c
Labels: Azure.Core, Docs

#1158 Context cleanups
  sdk/inc/azure/core/az_context.h
  sdk/src/azure/core/az_context.c
Labels: Azure.Core, Design

#1168 Do not differentiate between empty and null span - rename macro.
  CHANGELOG.md
  sdk/docs/core/README.md
  sdk/inc/azure/core/az_credentials.h
  sdk/inc/azure/core/az_http.h
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/inc/azure/core/internal/az_http_internal.h
  sdk/inc/azure/core/internal/az_span_internal.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/paho_iot_hub_pnp_component_sample.c
  sdk/samples/iot/paho_iot_hub_pnp_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/samples/iot/pnp/pnp_protocol.c
  sdk/samples/iot/pnp/pnp_thermostat_component.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/core/az_log.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/src/azure/iot/az_iot_hub_client_c2d.c
  sdk/src/azure/iot/az_iot_hub_client_twin.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/src/azure/platform/az_curl.c
  sdk/tests/core/test_az_credential_client_secret.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_pipeline.c
  sdk/tests/core/test_az_policy.c
  sdk/tests/core/test_az_span.c
  sdk/tests/core/test_az_url_encode.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client_c2d.c
  sdk/tests/iot/hub/test_az_iot_hub_client_methods.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/hub/test_az_iot_hub_client_twin.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Labels: Azure.Core, Design

#1178 IoT SDK review updates
  CHANGELOG.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/docs/iot/resources/iot_retry_flow.puml
  sdk/inc/azure/iot/az_iot_common.h
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/samples/iot/aziot_esp8266/aziot_esp8266.ino
  sdk/samples/iot/generate_certificate.ps1
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/iot/common/test_az_iot_common.c
  sdk/tests/iot/hub/test_az_iot_hub_client_sas.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_sas.c
Labels: Client, Design, Iot

#1156 Update Provisioning samples
  sdk/samples/iot/paho_iot_hub_methods_sample.c
  sdk/samples/iot/paho_iot_hub_sas_telemetry_sample.c
  sdk/samples/iot/paho_iot_provisioning_sample.c
  sdk/samples/iot/paho_iot_provisioning_sas_sample.c
Labels: Client, Iot
