Repository Azure/azure-sdk-for-c, pull requests merged in 2020-07, with the labels that each got.

#870 add VSCode and CMake instructions
  .vscode/settings.json
  README.md
  sdk/docs/resources/vscode_cmake_config.png
Labels: Docs

#854 Update DPS example
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_sas_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Labels: Client, Iot

#884 Update PnP model id property name
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Labels: Iot

#885 Add permutations of numeric type parsing and formatting APIs on span - ato[u|i][32|64], atod and the inverse [u|i][32|64]toa, dtoa.
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/src/azure/core/az_span.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core, Client, feature-request

#871 Redesign JSON parser and JSON token APIs with lazy evaluation of tokens, proper unescaping support, and hardened validation
  CMakeSettings.json
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/core/az_json_pointer.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_string.c
  sdk/src/azure/core/az_json_string_private.h
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_http.c
  sdk/tests/core/test_az_json.c
  sdk/tests/iot/provisioning/test_az_iot_provisioning_client_parser.c
Labels: Azure.Core, Client, Design, feature-request

#901 Automatically update vcpkg on non-mac systems
  eng/pipelines/templates/steps/vcpkg.yml
Labels: EngSys

#883 Refactor get_operation_status() of DPS sample
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Labels: Client, Iot

#877 Docs generation fix
  Doxyfile
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/docs/iot/README.md
Labels: EngSys

#896 Add double support to JSON builder and JSON parser
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_builder.c
  sdk/src/azure/core/az_json_parser.c
  sdk/src/azure/core/az_json_token.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/core/az_span_private.h
  sdk/tests/core/test_az_json.c
  sdk/tests/core/test_az_span.c
Labels: Azure.Core, Client, Design, feature-request

#907 Fix TODO to use int32 when parsing JSON in paho iot hub twin sample.
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Labels: Iot

#910 Remove unused az_result error codes that are no longer relevant.
  sdk/inc/azure/core/az_result.h
Labels: Azure.Core

#909 Rename JSON parser/builder APIs to reader/writer and update all call sites.
  README.md
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_result.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/CMakeLists.txt
  sdk/src/azure/core/az_aad.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_json_writer.c
  sdk/src/azure/iot/az_iot_provisioning_client.c
  sdk/tests/core/test_az_json.c
Labels: Azure.Core, Client, Design

#911 DPS Sample: printf updates
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Labels: Client, Iot

#917 change pnp api to use option instead of standalone method
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/src/azure/iot/az_iot_hub_client.c
  sdk/tests/iot/hub/test_az_iot_hub_client.c
Labels: Iot

#862 add pnp sample for v2 dtmi
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Labels: Iot

#918 DPS sample: error handling
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
Labels: Client, Iot

#922 remove double length include for api version
  sdk/src/azure/iot/az_iot_hub_client.c
Labels: Iot

#924 Adding IoT Hub WebSockets APIs, fixing Y2k38 issue
  sdk/inc/azure/iot/az_iot_hub_client.h
  sdk/inc/azure/iot/az_iot_provisioning_client.h
  sdk/inc/azure/iot/internal/az_iot_common_internal.h
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_sas_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
  sdk/src/azure/iot/az_iot_common.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/src/azure/iot/az_iot_provisioning_client_sas.c
  sdk/tests/iot/common/test_az_iot_common.c
Labels: Iot

#913 Add caching for Vcpkg
  README.md
  eng/pipelines/templates/steps/vcpkg.yml
Labels: EngSys

#927 DPS SAS Sample
  CMakeLists.txt
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/hub/CMakeLists.txt
  sdk/samples/iot/hub/src/generate_certificate.sh
  sdk/samples/iot/inc/sample_sas_utility.h
  sdk/samples/iot/provisioning/CMakeLists.txt
  sdk/samples/iot/provisioning/src/generate_certificate.cmd
  sdk/samples/iot/provisioning/src/generate_certificate.sh
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_sas_example.c
  sdk/samples/iot/src/sample_sas_utility.c
Labels: Client, Iot

#936 Dps sample/documentation
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/provisioning/README.md
  sdk/samples/iot/provisioning/src/generate_certificate.cmd
  sdk/samples/iot/provisioning/src/generate_certificate.sh
Labels: Client, Docs, Iot

#946 DPS Samples Update
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_sas_example.c
Labels: Client, Iot

#944 Fix DPS Sample documentation
  sdk/samples/iot/provisioning/README.md
  sdk/samples/iot/provisioning/src/generate_certificate.cmd
  sdk/samples/iot/provisioning/src/generate_certificate.sh
Labels: Client, Docs, Iot

#949 c2d and methods samples to single-thread
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/provisioning/README.md
Labels: Client, Iot

#951 Twin sample: Synchronous and no user prompt
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Labels: Client, Iot

#960 remove sleep from pnp
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
Labels: Iot

#959 Update spacing and formatting of README markdowns by using a linter.
  CMakeLists.txt
  README.md
  samples/README.md
  sdk/docs/core/README.md
  sdk/docs/iot/README.md
  sdk/docs/iot/hub.md
  sdk/docs/iot/mqtt_state_machine.md
  sdk/docs/iot/provisioning.md
  sdk/docs/storage/README.md
  sdk/inc/azure/core/az_context.h
  sdk/samples/core/README.md
  sdk/samples/iot/CMakeLists.txt
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/aziot_esp8266/how_to_esp8266_nodemcu.md
  sdk/samples/iot/hub/linux/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/hub/windows/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/provisioning/README.md
  sdk/samples/iot/provisioning/src/paho_iot_provisioning_example.c
  sdk/samples/iot/readme.md
  sdk/samples/storage/blobs/CMakeLists.txt
  sdk/samples/storage/blobs/README.md
  sdk/src/azure/core/az_credential_token_private.h
  sdk/src/azure/core/az_http_policy_retry.c
  sdk/src/azure/core/az_json_reader.c
  sdk/src/azure/core/az_span.c
  sdk/src/azure/iot/az_iot_hub_client_sas.c
  sdk/tests/core/test_az_url_encode.c
Labels: Docs

#902 Add support for non-contiguous buffers within JSON builder using a callback mechanism.
  sdk/inc/azure/core/az_json.h
  sdk/inc/azure/core/az_span.h
  sdk/samples/iot/hub/src/paho_iot_hub_pnp_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
  sdk/src/azure/core/az_json_private.h
  sdk/src/azure/core/az_json_writer.c
  sdk/tests/core/test_az_json.c
Labels: Azure.Core, Client, Design, feature-request
