Repository Azure/azure-sdk-for-c, pull requests merged in 2020-04, with the labels that each got.

#535 Enforce 85% code coverage by line
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#549 Update az_span_copy and az_span_append by returning the remaining span and using preconditions.
  sdk/core/core/README.md
  sdk/core/core/inc/az_result.h
  sdk/core/core/inc/az_span.h
  sdk/core/core/src/az_aad.c
  sdk/core/core/src/az_http_policy_logging.c
  sdk/core/core/src/az_http_policy_retry.c
  sdk/core/core/src/az_http_request.c
  sdk/core/core/src/az_json_builder.c
  sdk/core/core/src/az_span.c
  sdk/core/core/test/cmocka/main.c
  sdk/core/core/test/cmocka/test_az_http_policy.c
  sdk/core/core/test/cmocka/test_az_pipeline.c
  sdk/core/core/test/cmocka/test_http_request.c
  sdk/core/core/test/cmocka/test_json_parser.c
  sdk/core/core/test/cmocka/test_log.c
  sdk/core/core/test/cmocka/test_span.c
  sdk/core/core/test/cmocka/test_span_replace.c
  sdk/iot/hub/src/az_iot_hub_client.c
  sdk/iot/hub/src/az_iot_hub_client_c2d.c
  sdk/iot/hub/src/az_iot_hub_client_methods.c
  sdk/iot/hub/src/az_iot_hub_client_sas.c
  sdk/iot/hub/src/az_iot_hub_client_telemetry.c
  sdk/iot/hub/src/az_iot_hub_client_twin.c
  sdk/iot/pnp/src/az_iot_pnp_client.c
  sdk/iot/pnp/src/az_iot_pnp_client_telemetry.c
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/platform/http_client/curl/src/az_curl.c
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/samples/keyvault/keyvault/src/az_keyvault_client.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
  sdk/storage/blobs/src/az_storage_blobs_blob_client.c
Labels: Azure.Core, Design

#550 Fix issue in az_span_slice so that the length is set correctly and clamped at 0.
  sdk/core/core/src/az_span.c
  sdk/core/core/test/cmocka/test_span.c
Labels: Azure.Core, bug

#590 Azure IoT Provisioning service public API and inbound message processing
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/iot/doc/resources/iot_provisioning_flow.puml
  sdk/iot/hub/inc/az_iot_hub_client.h
  sdk/iot/hub/tests/cmocka/test_az_iot_hub_client_sas.c
  sdk/iot/provisioning/inc/az_iot_provisioning_client.h
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/CMakeLists.txt
  sdk/iot/provisioning/tests/cmocka/main.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client.h
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_parser.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_register.c
Labels: Iot

#631 Enable Check Enforcer.
  eng/CHECKENFORCER
Labels: EngSys

#624 IoT Provisioning length fix, adding tests
  sdk/iot/hub/inc/az_iot_hub_client.h
  sdk/iot/provisioning/inc/az_iot_provisioning_client.h
  sdk/iot/provisioning/src/az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client.c
  sdk/iot/provisioning/tests/cmocka/test_az_iot_provisioning_client_parser.c
Labels: Iot

#596 Documentation generation ignores az_ prefix
  Doxyfile
  eng/docs/api/Doxyfile.template
Labels: EngSys
