Repository Azure/azure-sdk-for-c, pull requests merged in 2020-06, with the labels that each got.

#795 Live test pipelines
  eng/pipelines/ci.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
  eng/pipelines/templates/steps/vcpkg.yml
  sdk/storage/blobs/samples/test-resources-post.ps1
  sdk/storage/blobs/samples/test-resources.json
Labels: EngSys

#796 Regenerate Doxygen assets
  Doxyfile
  eng/docs/api/assets/footer.html
  eng/docs/api/assets/header.html
  eng/docs/api/assets/style.css
Labels: EngSys

#798 consolidate platform readme
  sdk/platform/README.md
  sdk/platform/http_client/curl/README.md
  sdk/platform/http_client/nohttp/README.md
  sdk/platform/noplatform/README.md
  sdk/platform/posix/README.md
  sdk/platform/win32/README.md
  sdk/samples/keyvault/keyvault/samples/src/keys_client_example.c
  sdk/storage/blobs/samples/src/blobs_client_example.c
Labels: Docs

#811 Add function to get user name with model id for pnp
  sdk/iot/hub/inc/az_iot_hub_client.h
  sdk/iot/hub/src/az_iot_hub_client.c
  sdk/iot/hub/tests/test_az_iot_hub_client.c
Labels: Iot

#808 Add sas key sample
  sdk/iot/hub/samples/CMakeLists.txt
  sdk/iot/hub/samples/README.md
  sdk/iot/hub/samples/src/paho_iot_hub_sas_telemetry_example.c
  sdk/iot/hub/samples/src/sample_sas_utility.c
  sdk/iot/hub/samples/src/sample_sas_utility.h
Labels: Iot

#822 Update console output values for sample environment vars
  sdk/iot/hub/samples/src/paho_iot_hub_c2d_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_methods_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_sas_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_telemetry_example.c
  sdk/iot/hub/samples/src/paho_iot_hub_twin_example.c
  sdk/iot/provisioning/samples/src/paho_iot_provisioning_example.c
Labels: Iot

#821 Add linux openssl instruction note
  sdk/iot/hub/samples/README.md
Labels: Iot

#818 [iot] Add step-by-step guide for IoT Hub Samples on Windows, update samples to use paho dll on Windows
  sdk/iot/README.md
  sdk/iot/doc/how_to_iot_hub_samples_linux.md
  sdk/iot/doc/how_to_iot_hub_samples_windows.md
  sdk/iot/hub/samples/CMakeLists.txt
  sdk/iot/provisioning/samples/CMakeLists.txt
Labels: Iot

#823 Add to top level IoT readme
  sdk/docs/iot/README.md
Labels: Iot

#833 update linux sample directions
  sdk/docs/iot/how_to_iot_hub_samples_linux.md
Labels: Iot

#834 update windows sample directions
  sdk/docs/iot/how_to_iot_hub_samples_windows.md
Labels: Iot

#837 EngSys changes for new repo layout
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/SdkVersion-Common.ps1
Labels: EngSys

#839 Update /samples README for update dir structure
  samples/README.md
Labels: Docs

#838 Add table of contents to top level README
  README.md
Labels: Docs

#841 add documentation for non-CMake usage
  README.md
Labels: Docs

#840 update porting description (remove http req)
  README.md
  sdk/docs/core/README.md
Labels: Docs

#828 Momuno twin sample
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Labels: Docs, Iot

#849 add docs for repo structure
  README.md
Labels: Docs

#845 Update sample file structures to be consistent
  sdk/samples/iot/hub/src/paho_iot_hub_c2d_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_methods_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_sas_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_telemetry_example.c
  sdk/samples/iot/hub/src/paho_iot_hub_twin_example.c
Labels: Client, Iot

#853 make all links in readme's to other readme's relative
  CONTRIBUTING.md
  README.md
  sdk/docs/core/README.md
  sdk/docs/iot/README.md
  sdk/docs/iot/hub.md
  sdk/docs/iot/provisioning.md
  sdk/docs/platform/README.md
  sdk/docs/storage/README.md
  sdk/samples/core/README.md
  sdk/samples/iot/hub/README.md
  sdk/samples/iot/hub/esp8266nodemcu/how_to_esp8266_nodemcu.md
  sdk/samples/iot/hub/linux/how_to_iot_hub_samples_linux.md
  sdk/samples/iot/hub/windows/how_to_iot_hub_samples_windows.md
  sdk/samples/iot/provisioning/README.md
  sdk/samples/iot/readme.md
  sdk/samples/keyvault/keyvault/README.md
  sdk/samples/storage/blobs/README.md
Labels: Docs

#857 Update SECURITY.md
  SECURITY.md
Labels: Docs

#860 add IoT Deep Dive video to docs
  sdk/docs/iot/README.md
  sdk/docs/iot/resources/deep_dive_screenshot.png
  sdk/samples/iot/hub/README.md
Labels: Docs, Iot

#861 fix red highlighting on GH PR's with JSON
  sdk/samples/iot/hub/README.md
Labels: Docs, Iot

#864 remove duplicate/broken link
  sdk/samples/iot/hub/README.md
Labels: Docs, Iot
